{
  
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/at_ext/header.png",
      "fileBody" : "/interface/scripted/at_ext/body.png",
      "fileFooter" : "/interface/scripted/at_ext/footer.png"
    },
	"tabLabel_1" : {
      "type" : "label",
      "position" : [24, 202],
      "hAnchor" : "left",
      "value" : "^#FF3C00;已添加配方:^reset;",
	  "zlevel" : 3
    },
	"tabLabel_2" : {
      "type" : "label",
      "position" : [9, 244],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 200,
	  "fontSize" : 7.2,
      "value" : "^yellow;Mod Ver 4.2",
	  "zlevel" : 3
    },
	"tabLabel_3" : {
      "type" : "label",
      "position" : [24, 160],
      "hAnchor" : "left",
      "value" : "",
	  "zlevel" : 3
    },
    "sampleScrollArea" : {
      "type": "scrollArea",
      "zlevel": 1,
      "rect": [
        24,
        50,
        236,
        200
	  ],
	  "children" : {
	  	"tabLabel_4" : {
		  "type" : "label",
		  "position" : [24, 150],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 200,
		  "fontSize" : 7.2,
		  "value" : 
"
^red;该Mod的汉化补丁已上架创意工坊,因此这本汉化版的手册将停止更新.请自行前往工坊订阅汉化补丁.
当然,你可以留着这本用作纪念:)



^cyan;熔铸厂:^reset;
矿石精炼:
银,铂金,黄金,耐钢,铜,日耀,钨,钛,霓磷盐,维奥,菲洛.
^green;以及所有的奥法矿物.^reset;
^#FF3C00;以下配方都与原配方相同:^reset;
===============================
铜线
===============================

^cyan;组装台:^reset;
^yellow;铜机件^reset; = 1x:(铜锭,钨锭,铜线)
^yellow;崇高机件^reset; = 1x:(海金锭,秘钢锭,铜机件)
^yellow;天青机件^reset; = 1x:(拟态块,生源锭,崇高机件)
^yellow;雷霆机件^reset; = 1x:(织造肃钉,紫电锭,天青机件).
^yellow;肃钉机件:^reset;与原配方相同.
^yellow;俄里翁科技卡^reset; = 1x:(天青机件,AA电池组,棱晶碎片)
^yellow;地平线科技卡^reset; = 1x:(崇高机件,死金锭)6x: 铜线
^yellow;海洋科技卡^reset; = 1x:(雷霆机件,洋铁,天青锭)
^yellow;肃钉科技卡^reset; = 1x:(天青机件,肃钉机件)2x:AA电池组
^#FF3C00;以下配方都与原配方相同:^reset;
===============================
电池
增强电池
===============================

^cyan;车床:^reset;
内存条=1x:(铜线,硅板)
^#FF3C00;以下配方与原配方相同:^reset;
===============================
大熊星板
铁英复材
滑流复材
朱染复材
异岩复材
硅板
===============================

^cyan;厄尔吉斯反应炉:^reset;
可以烧两种^#9F3CCE;厄尔吉斯燃料^reset;(液态和固态)来发电,产生60kw的强大电能.

^cyan;资源提取器:^reset;
可以将物块放入进行提取,产生许多有用的材料,如矿物,精纯,液体等.
目前暂时只支持大部分奥法物块.
^#FF3C00;额外配方:^reset;
===============================
月岩,月石,月尘.
===============================

^cyan;贸易终端:^reset;
一个全自动的贸易终端,可以自动将货物送往^yellow;泰坦重工的分销中心^reset;,你将从中获取利润.
^red;目前他们暂时只需要矿物锭.^reset;
有时,这个终端还能给你提供由泰坦重工发布的特殊贸易合约.

^cyan;自动水培盘:^reset;
可以自动地种植你需要的农作物,只需要你提供电力,水分和种子.
也可以用作物育种从而获得更多种子!
配方已集成在机器里!^blue;(实验性功能)^reset;
^yellow;为了更好地使用这台机器,我强烈建议你安装一个食物堆叠模组!


^#9F3CCE;感谢!如果你有更好的配方建议欢迎提出哦! :D\n\n\n                                                 ^#9F3CCE;----Plantera
",
		  "zlevel" : 3
		}
	  }
	},
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 232],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/chests/at_ext_x.png",
      "hover" : "/interface/chests/at_ext_xhover.png",
      "pressed" : "/interface/chests/at_ext_xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [235, 267]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "^red;自动化配方手册^reset;",
      "subtitle" : "^blue;查看所有配方!^reset;",
      "position" : [0, 294],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/at_ext/logo.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
	
	
  },
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },
  "iconSize" : [42, 42]
}
