{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/at_ext/header.png",
      "fileBody" : "/interface/scripted/at_ext/body.png",
      "fileFooter" : "/interface/scripted/at_ext/footer.png"
    },

	"tabLabel_1" : {
      "type" : "label",
      "position" : [9, 210],
      "hAnchor" : "left",
      "value" : "^#FF3C00;News:\nNew Mission available!",
	  "zlevel" : 3
    },

	"tabLabel_2" : {
      "type" : "label",
      "position" : [9, 246],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 200,
	  "fontSize" : 7.2,
      "value" : "^blue;Mod Ver 1.8",
	  "zlevel" : 3
    },	
	
    "sampleScrollArea" : {
      "type": "scrollArea",
      "zlevel": 1,
      "rect": [
        20,
        50,
        372,
        200
	  ],
	  "children" : {
	  
	  	"title_1" : {
		  "type" : "label",
		  "position" : [24, 146],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Foundry:^reset;",
		  "zlevel" : 3
		},
	  	"label_1" : {
		  "type" : "label",
		  "position" : [24, 136],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "^yellow;The recipes has been integrated into the machine!",
		  "zlevel" : 3
		},
	  	"back_1" : {
          "type" : "image",
		  "position" : [12, 60],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_1" : {
          "type" : "image",
		  "position" : [230, 68],
          "file" : "/interface/scripted/at_ext/foundry.png",
          "zlevel" : 2
		},
		
	  	"title_2" : {
		  "type" : "label",
		  "position" : [24, 46],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Assembler:^reset;",
		  "zlevel" : 3
		},
	  	"label_2" : {
		  "type" : "label",
		  "position" : [24, 36],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "^yellow;The recipes has been integrated into the machine!",
		  "zlevel" : 3
		},
	  	"back_2" : {
          "type" : "image",
		  "position" : [12, -40],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_2" : {
          "type" : "image",
		  "position" : [230, -32],
          "file" : "/interface/scripted/at_ext/assembler.png",
          "zlevel" : 2
		},
		
	  	"title_3" : {
		  "type" : "label",
		  "position" : [24, -54],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Lathe:^reset;",
		  "zlevel" : 3
		},
	  	"label_3" : {
		  "type" : "label",
		  "position" : [24, -64],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "^yellow;The recipes has been integrated into the machine!",
		  "zlevel" : 3
		},
	  	"back_3" : {
          "type" : "image",
		  "position" : [12, -140],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_3" : {
          "type" : "image",
		  "position" : [230, -132],
          "file" : "/interface/scripted/at_ext/lathe.png",
          "zlevel" : 2
		},
		
		
	  	"title_4" : {
		  "type" : "label",
		  "position" : [24, -145],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Resource extractor^reset;",
		  "zlevel" : 3
		},
	  	"label_4" : {
		  "type" : "label",
		  "position" : [24, -155],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "Tiles can be extracted, producing many useful materials such as ores, essence, liquids, etc.
Currently, only most Arcana tiles are supported.
^yellow;Higher grade machines have more recipes!
^yellow;The recipes has been integrated into the machine!",
		  "zlevel" : 3
		},
	  	"back_4" : {
          "type" : "image",
		  "position" : [12, -240],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_4" : {
          "type" : "image",
		  "position" : [230, -232],
          "file" : "/interface/scripted/at_ext/at_ext_extractor.png",
          "zlevel" : 2
		},
		
	  	"title_5" : {
		  "type" : "label",
		  "position" : [24, -256],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Trade Terminal^reset;",
		  "zlevel" : 3
		},
	  	"label_5" : {
		  "type" : "label",
		  "position" : [24, -266],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "An automatic Trade Terminal, Connected to Titan Corp's trading network, goods can be automatically sold to Titan Corp's ^yellow;Trade Division^reset;.
^red;Currently they only accept the Bars, temporarily.^reset;
Sometimes Terminal will provide some ^yellow;Special Contracts^reset; to you.",
		  "zlevel" : 3
		},
	  	"back_5" : {
          "type" : "image",
		  "position" : [12, -340],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_5" : {
          "type" : "image",
		  "position" : [230, -332],
          "file" : "/interface/scripted/at_ext/at_ext_trade.png",
          "zlevel" : 2
		},
		
	  	"title_6" : {
		  "type" : "label",
		  "position" : [24, -354],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Hydroponic Tray^reset;",
		  "zlevel" : 3
		},
	  	"label_6" : {
		  "type" : "label",
		  "position" : [24, -364],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "A hydroponic tray that can grow your farmables as you provide power, seeds and water.
Also it can turn crops into seeds!
The recipes has been integrated into the machine!^reset;
^yellow;To use this machine better, I strongly recommend you install a Food Stack Mod!",
		  "zlevel" : 3
		},
	  	"back_6" : {
          "type" : "image",
		  "position" : [12, -440],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_6" : {
          "type" : "image",
		  "position" : [230, -432],
          "file" : "/interface/scripted/at_ext/at_ext_growth.png",
          "zlevel" : 2
		},

	  	"title_7" : {
		  "type" : "label",
		  "position" : [24, -454],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Erchius Reactor^reset;",
		  "zlevel" : 3
		},
	  	"label_7" : {
		  "type" : "label",
		  "position" : [24, -464],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "Can burn two types of ^#9F3CCE;Erchius fuel^reset; (Liquid and Solid) to generate 60kw power.\n^red;It may take 10 seconds to start working!",
		  "zlevel" : 3
		},
	  	"back_7" : {
          "type" : "image",
		  "position" : [12, -540],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_7" : {
          "type" : "image",
		  "position" : [230, -532],
          "file" : "/interface/scripted/at_ext/at_ext_burner2.png",
          "zlevel" : 2
		},
		
			  	"title_9" : {
		  "type" : "label",
		  "position" : [24, -554],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Condenser MK2^reset;",
		  "zlevel" : 3
		},
	  	"label_9" : {
		  "type" : "label",
		  "position" : [24, -564],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "An automatic condenser that slowly produces liquid ^blue;\nMK2:Can produce liquid depend on planet.\n^red;It may take 10 seconds to start working!^reset;",
		  "zlevel" : 3
		},
	  	"back_9" : {
          "type" : "image",
		  "position" : [12, -640],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_9" : {
          "type" : "image",
		  "position" : [230, -632],
          "file" : "/interface/scripted/at_ext/at_ext_condenser2.png",
          "zlevel" : 2
		},


		 "title_10" : {
		  "type" : "label",
		  "position" : [24, -654],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Ore Extractor^reset;",
		  "zlevel" : 3
		},
	  	"label_10" : {
		  "type" : "label",
		  "position" : [24, -664],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "An automatic extractor that slowly produces ores(depend on planet).\n^blue;Higher grade machines have more recipes!\n^red;It may take 10 seconds to start working!",
		  "zlevel" : 3
		},
	  	"back_10" : {
          "type" : "image",
		  "position" : [12, -740],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_10" : {
          "type" : "image",
		  "position" : [230, -732],
          "file" : "/interface/scripted/at_ext/at_ext_mining.png",
          "zlevel" : 2
		},		
		
	

	
		 "title_11" : {
		  "type" : "label",
		  "position" : [24, -754],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Solar Panel^reset;",
		  "zlevel" : 3
		},
	  	"label_11" : {
		  "type" : "label",
		  "position" : [24, -764],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "A solar panel capable of converting solar energy into electricity. \n^blue;Must be placed on the surface, can only generate power during the day.",
		  "zlevel" : 3
		},
	  	"back_11" : {
          "type" : "image",
		  "position" : [12, -840],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_11" : {
          "type" : "image",
		  "position" : [230, -832],
          "file" : "/interface/scripted/at_ext/at_ext_solar.png",
          "zlevel" : 2
		},		
		
		 "title_12" : {
		  "type" : "label",
		  "position" : [24, -854],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^cyan;Supply Dispensing Terminal^reset;",
		  "zlevel" : 3
		},
	  	"label_12" : {
		  "type" : "label",
		  "position" : [24, -864],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "Claim your free supplies every 6 hours!^red;\nRefunds 13000 credits when destroyed.^reset;",
		  "zlevel" : 3
		},
	  	"back_12" : {
          "type" : "image",
		  "position" : [12, -940],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_12" : {
          "type" : "image",
		  "position" : [230, -882],
          "file" : "/interface/scripted/at_ext/at_ext_dailysupply.png",
          "zlevel" : 2
		},			
		
		
		
		
		
		
		
		
	  	"label_8" : {
		  "type" : "label",
		  "position" : [24, -964],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "^#9F3CCE;Thanks! you are welcome to tell me if you got a good idea! :D\n\n\n                                                 ^#9F3CCE;----Plantera",
		  "zlevel" : 3
		},
	  	"back_8" : {
          "type" : "image",
		  "position" : [12, -1040],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_8" : {
          "type" : "image",
		  "position" : [230, -1039],
          "file" : "/interface/scripted/at_ext/486pt.png",
          "zlevel" : 2
		}
		
	  }
	},
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 232],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/chests/at_ext_x.png",
      "hover" : "/interface/chests/at_ext_xhover.png",
      "pressed" : "/interface/chests/at_ext_xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [360, 267]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "^red;Automation Manual^reset;",
      "subtitle" : "^blue;Check the specifications!^reset;",
      "position" : [0, 294],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/at_ext/logo.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
	
	
  },
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },
  "iconSize" : [42, 42]
}
