{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/at_ext_shippad/head.png",
      "fileBody" : "/interface/scripted/at_ext_shippad/body.png",
      "fileFooter" : "/interface/scripted/at_ext_shippad/foot.png"
    },
    "imgLoadingOverlay" : {
      "type" : "image",
      "zlevel" : 10,
      "file" : "/interface/scripted/at_ext_shippad/loading.png:0",
      "position" : [0, 11]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/scripted/at_ext_shippad/at_ext_x.png",
      "hover" : "/interface/scripted/at_ext_shippad/at_ext_xhover.png",
      "pressed" : "/interface/scripted/at_ext_shippad/at_ext_xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [396, 196],
	  "zlevel" : 5
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [269, 276],
	  "hAnchor" : "mid",
      "value" : " "
    },
    "lblDescription" : {
      "type" : "label",
      "position" : [269, 251],
	  "hAnchor" : "mid",
	  "wrapWidth" : 168,
	  "fontSize" : 7.2,
      "value" : " "
    },
	"tabLabel_1" : {
      "type" : "label",
      "position" : [43, 195],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 196,
	  "fontSize" : 7.4,
      "value" : "Titan Ship",
	  "zlevel" : 3
    },
	"tabLabel_2" : {
      "type" : "label",
      "position" : [43, 163],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 196,
	  "fontSize" : 7.4,
      "value" : "^#9F3CCE;Titan AB^reset;",
	  "zlevel" : 3
    },
	"tabLabel_3" : {
      "type" : "label",
      "position" : [43, 131],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 196,
	  "fontSize" : 7.4,
      "value" : "TC Colony",
	  "zlevel" : 3
    },
	
	"destinationImage" : {
      "type" : "image",
	  "file" : "/interface/scripted/at_ext_shippad/at_ext_ship_bk.png",
      "position" : [227, 11],
	  "zlevel" : 4
    },
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 230],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : ""
    },
	
	"destinationTabs" : {
		"type" : "radioGroup",
		"callback" : "setDestinationImage",
		"zlevel" : 2,
		"toggleMode" : false,
		"buttons" : [
			{
				"selected" : false,
				"position" : [12, 178],
				"baseImage" : "/interface/scripted/at_ext_shippad/tab_1_unselected.png",
				"baseImageChecked" : "/interface/scripted/at_ext_shippad/tab_1_selected.png",
				"pressedOffset" : [0, 0],
				"data" : "at_ext_ship"
			},
			{
				"selected" : false,
				"position" : [12, 146],
				"baseImage" : "/interface/scripted/at_ext_shippad/tab_2_unselected.png",
				"baseImageChecked" : "/interface/scripted/at_ext_shippad/tab_2_selected.png",
				"pressedOffset" : [0, 0],
				"data" : "at_ext_hq2"
			},
			{
				"selected" : false,
				"position" : [12, 114],
				"baseImage" : "/interface/scripted/at_ext_shippad/tab_3_unselected.png",
				"baseImageChecked" : "/interface/scripted/at_ext_shippad/tab_3_selected.png",
				"pressedOffset" : [0, 0],
				"data" : "at_ext_colony"
			}
		]
	},
    "activateButton" : {
      "type" : "button",
      "position" : [265, 18],
      "base" : "/interface/scripted/at_ext_shippad/tab_teleport_unselected.png",
      "hover" : "/interface/scripted/at_ext_shippad/tab_teleport_hover.png",
      "pressed" : "/interface/scripted/at_ext_shippad/tab_teleport_selected.png",
      "disabledImage" : "/interface/scripted/at_ext_shippad/tab_teleport_unselected.png",
      "pressedOffset" : [0, 0],
      "callback" : "teleport",
	  "zlevel" : 6
    },
	
	"tabLabel_teleport" : {
      "type" : "label",
      "position" : [269, 26],
      "hAnchor" : "mid",
	  "vAnchor" : "bottom",
	  "fontSize" : 7.2,
      "value" : " ",
	  "zlevel" : 5
    }
	
  },
  
  "scriptWidgetCallbacks" : [
    "setDestinationImage",
    "teleport"
  ],
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },
  
  "scripts" : [ "/interface/scripted/at_ext_shippad/at_ext_shippd.lua" ],
  "scriptDelta" : 5,

  "loadingDuration" : 2,
  "loadingFrames" : 4,
  "loadingBaseImage" : "/interface/scripted/at_ext_shippad/loading.png"
}
