{
  "recipes" : {
    "at_ext_beer" : {
      "input" : [
        { "name" : "wheat", "count" : 8 },
        { "name" : "liquidwater", "count" : 4 }
      ],
      "output" : { "name" : "at_ext_beer", "count" : 4 }
    }
  },
  "stageDurations" : [60, 60, 120],
  "description" : "^white;A fully automated, all-in-one fermentation system that lets you brew beer with ease! ^orange;Requires 20kW of Power.^reset;"
}
