{
  "recipes" : 
  {

		    "turbulent_tile1" : {
      "input" : { "name" : "turbulent_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "titaniumore", "count" : 1 }},
		
		{"weight":0.4,"item":{ "name" : "elemental_crafting_pinkAquamarine", "count" : 1 }}
	  ]
	},
		    "turbulent_tile2" : {
      "input" : { "name" : "turbulent_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "titaniumore", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "turbulent_tile1", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "elemental_crafting_pinkAquamarine", "count" : 1 }}
	  ]
	},


		    "verdant_tile1" : {
      "input" : { "name" : "verdant_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "elemental_crafting_florastone", "count" : 1 }}
	  ]
	},
		    "verdant_tile2" : {
      "input" : { "name" : "verdant_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "elemental_crafting_florastone", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "verdant_tile1", "count" : 1 }}
	  ]
	},

        "desolate_tile1" : {
      "input" : { "name" : "desolate_tile1", "count" : 1 },
      "output" : [
		{"weight":0.4,"item":{ "name" : "arcana_liquid_ruinousWater", "count" : 1 }},
        {"weight":0.2,"item":{ "name" : "arcana_ore_necroiumFragment", "count" : 1 }},
		{"weight":0.1,"item":{ "name" : "arcana_essence_abyssEssence", "count" : 1 }}
	  ]	
  },
          "desolate_tile2" : {
      "input" : { "name" : "desolate_tile2", "count" : 1 },
      "output" : [
		{"weight":0.4,"item":{ "name" : "arcana_liquid_ruinousWater", "count" : 1 }},
        {"weight":0.2,"item":{ "name" : "arcana_ore_necroiumFragment", "count" : 1 }},
		{"weight":0.1,"item":{ "name" : "arcana_essence_abyssEssence", "count" : 1 }}
	  ]	
  },

	"timeless_tile2" : {
		"input" : { "name" : "timeless_tile2", "count" : 1 },
		"output" : [
		  {"weight":0.2,"item":{ "name" : "logblock", "count" : 1 }},
		  {"weight":0.1,"item":{ "name" : "arcana_ore_rawDiathrylium", "count" : 1 }}
		]
	  },
	"viridescent_tile3" : {
		"input" : { "name" : "viridescent_tile3", "count" : 1 },
		"output" : [
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }},
		  {"weight":0.1,"item":{ "name" : "arcana_liquid_viridescentAcid", "count" : 1 }},
		  {"weight":0.01,"item":{ "name" : "arcana_teabag_viridescentTeabag", "count" : 1 }}
		]
	  },
	"redTerminus_tile5" : {
		"input" : { "name" : "redTerminus_tile5", "count" : 1 },
		"output" : [
		  {"weight":0.6,"item":{ "name" : "essence", "count" : 1 }}
		]
	  },
	"nulla_tile6" : {
		"input" : { "name" : "nulla_tile6", "count" : 1 },
		"output" : [
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"jadeMorass_tile1" : {
		"input" : { "name" : "jadeMorass_tile1", "count" : 1 },
		"output" : [
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"goldenForest_tile2" : {
		"input" : { "name" : "goldenForest_tile2", "count" : 1 },
		"output" : [
		  {"weight":0.1,"item":{ "name" : "arcana_flowers_whiteDaisy", "count" : 1 }},
		  {"weight":0.2,"item":{ "name" : "goldore", "count" : 1 }},
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"cerueon_tile2" : {
		"input" : { "name" : "cerueon_tile2", "count" : 1 },
		"output" : [
		  {"weight":0.1,"item":{ "name" : "arcana_ore_rawDiathrylium", "count" : 1 }},
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"arcana_tile20" : {
		"input" : { "name" : "arcana_tile20", "count" : 1 },
		"output" : [
		  {"weight":0.1,"item":{ "name" : "arcana_misc_magifluxExtract", "count" : 1 }},
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"arcana_tile14" : {
		"input" : { "name" : "arcana_tile14", "count" : 1 },
		"output" : [
		  {"weight":0.1,"item":{ "name" : "arcana_misc_magifluxExtract", "count" : 1 }},
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"arcana_tile13" : {
      "input" : { "name" : "arcana_tile13", "count" : 1 },
      "output" : [
		{"weight":0.1,"item":{ "name" : "arcana_misc_magifluxExtract", "count" : 1 }},
		{"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
	  ]
	},
	"plantmatter" : {
      "input" : { "name" : "plantmatter", "count" : 1 },
      "output" : [
		
		{"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
	  ]
	},
	"petalblock" : {
      "input" : { "name" : "petalblock", "count" : 1 },
      "output" : [
		
		{"weight":0.3,"item":{ "name" : "plantfibre", "count" : 1 }},
		{"weight":0.075,"item":{ "name" : "giantflowerpetal", "count" : 1 }}
	  ]
	},
	"floweryblock" : {
      "input" : { "name" : "floweryblock", "count" : 1 },
      "output" : [
		
		{"weight":0.3,"item":{ "name" : "plantfibre", "count" : 1 }},
		{"weight":0.075,"item":{ "name" : "giantflowerpetal", "count" : 1 }}
	  ]
	},



	    "moonrock" : {
      "input" : { "name" : "moonrock", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "solidfuel", "count" : 1 }},
		{"weight":0.8,"item":{ "name" : "moonstone", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "moondust", "count" : 1 }}
	  ]
	},

	    "moonstone" : {
      "input" : { "name" : "moonstone", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "solidfuel", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "moondust", "count" : 1 }}
	  ]
	},

	    "moondust" : {
      "input" : { "name" : "moondust", "count" : 1 },
      "output" : [
		
		{"weight":0.8,"item":{ "name" : "liquidfuel", "count" : 1 }}

	  ]
	},
  
  
 "arcaneDesert_tile1" : {
      "input" : { "name" : "arcaneDesert_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }}
	  ]
	},
    "arcaneDesert_tile2" : {
      "input" : { "name" : "arcaneDesert_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }}
	  ]
	},
	    "arcaneDesert_tile3" : {
      "input" : { "name" : "arcaneDesert_tile3", "count" : 1 },
      "output" : [
		
		{"weight":0.6,"item":{ "name" : "arcaneDesert_tile1", "count" : 1 }},
		{"weight":0.6,"item":{ "name" : "arcaneDesert_tile2", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }}
	  ]
	},
	
	  "windswept_tile1" : {
      "input" : { "name" : "windswept_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.8,"item":{ "name" : "arcana_flowers_windflower", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_windEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "elemental_crafting_ariostone", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }}
	  ]
	},
	
	

	
    "arcaneForest_tile1" : {
      "input" : { "name" : "arcaneForest_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 1 }}
	  ]
	},
	
	    "arcaneForest_tile2" : {
      "input" : { "name" : "arcaneForest_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 1 }}
	  ]
	},
	
		    "arcaneForest_tile3" : {
      "input" : { "name" : "arcaneForest_tile3", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 1 }}
	  ]
	},
	
	    "arcaneTundra_tile1" : {
      "input" : { "name" : "arcaneTundra_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 1 }}
	  ]
	},
		    "arcaneTundra_tile2" : {
      "input" : { "name" : "arcaneTundra_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_iceEssence", "count" : 1 }}
	  ]
	},
	
	    "bleuark_tile1" : {
      "input" : { "name" : "bleuark_tile1", "count" : 1 },
      "output" : [
		
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_atlaGoldOre", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_aquaEssence", "count" : 1 }}
	  ]
	},
	
    "bleuark_tile2" : {
      "input" : { "name" : "bleuark_tile2", "count" : 1 },
      "output" : [
		
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_atlaGoldOre", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_aquaEssence", "count" : 1 }}
	  ]
	},
"monarch_tile1" : {
      "input" : { "name" : "monarch_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "monarch_tile3", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_illuminatedWater", "count" : 1 }}
	  ]
	},
		    "monarch_tile2" : {
      "input" : { "name" : "monarch_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "monarch_tile4", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_illuminatedWater", "count" : 1 }}
	  ]
	},
	
	
	    "monarch_tile3" : {
      "input" : { "name" : "monarch_tile3", "count" : 1 },
      "output" : [
		{"weight":0.4,"item":{ "name" : "arcana_liquid_illuminatedWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "monarch_tile4", "count" : 1 }}
	  ]
	},
	
	    "monarch_tile4" : {
      "input" : { "name" : "monarch_tile4", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "arcana_liquid_illuminatedWater", "count" : 1 }}
	  ]
	},
          "blistering_tile1" : {
      "input" : { "name" : "blistering_tile1", "count" : 1 },
      "output" : [
		{"weight":0.4,"item":{ "name" : "arcana_essence_fireEssence", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "elemental_crafting_magifireCrystal", "count" : 1 }}
	  ]
	
  },
        "animus_tile1" : {
      "input" : { "name" : "animus_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_animaOre", "count" : 1 }},
        {"weight":0.4,"item":{ "name" : "arcana_misc_avostone", "count" : 1 }}
	  ]
	
  },
          "animus_tile2" : {
      "input" : { "name" : "animus_tile2", "count" : 1 },
      "output" : [
		{"weight":0.6,"item":{ "name" : "animus_tile1", "count" : 1 }},
        {"weight":0.6,"item":{ "name" : "animus_tile4", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_animaOre", "count" : 1 }}
	  ]
	
  },
          "animus_tile4" : {
      "input" : { "name" : "animus_tile4", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_animaOre", "count" : 1 }},
        {"weight":0.4,"item":{ "name" : "arcana_misc_avostone", "count" : 1 }}
	  ]
	
  },
            "animus_tile5" : {
      "input" : { "name" : "animus_tile5", "count" : 1 },
      "output" : [
		{"weight":0.5,"item":{ "name" : "animus_tile1", "count" : 1 }},
        {"weight":0.5,"item":{ "name" : "animus_tile4", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_animaOre", "count" : 1 }}
	  ]
	
  },

         "evoaquatic_tile1" : {
      "input" : { "name" : "evoaquatic_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_morphosisShard", "count" : 1 }}
	  ]
	},
	
	    "evoaquatic_tile2" : {
      "input" : { "name" : "evoaquatic_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_morphosisShard", "count" : 1 }}
	  ]
	},
	
	    "evoaquatic_tile3" : {
      "input" : { "name" : "evoaquatic_tile3", "count" : 1 },
      "output" : [
	    {"weight":0.5,"item":{ "name" : "evoaquatic_tile1", "count" : 1 }},
	    {"weight":0.5,"item":{ "name" : "evoaquatic_tile2", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_morphosisShard", "count" : 1 }}
	  ]
	},
		    "evoaquatic_tile4" : {
      "input" : { "name" : "evoaquatic_tile4", "count" : 1 },
      "output" : [
	    {"weight":0.5,"item":{ "name" : "evoaquatic_tile3", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_morphosisShard", "count" : 1 }}
	  ]
	}  
  
  },
  
  "craftingTime" : 2,
  "outputTime" : 1.0,
  "outputRate" : 10
  //"description" : "Testing 1"

}
