{
  "recipes" : 
  {

		
		    "turbulent_tile1" : {
      "input" : { "name" : "turbulent_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "titaniumore", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "elemental_crafting_pinkAquamarine", "count" : 2 }}
	  ]
	},
		    "turbulent_tile2" : {
      "input" : { "name" : "turbulent_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "titaniumore", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "turbulent_tile1", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "elemental_crafting_pinkAquamarine", "count" : 2 }}
	  ]
	},



		"verdant_tile1" : {
      "input" : { "name" : "verdant_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "durasteelore", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "elemental_crafting_florastone", "count" : 2 }}
	  ]
	},
		    "verdant_tile2" : {
      "input" : { "name" : "verdant_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "durasteelore", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "elemental_crafting_florastone", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "verdant_tile1", "count" : 1 }}
	  ]
	},



	"timeless_tile2" : {
		"input" : { "name" : "timeless_tile2", "count" : 1 },
		"output" : [
		  {"weight":0.2,"item":{ "name" : "logblock", "count" : 1 }},
		  {"weight":0.1,"item":{ "name" : "arcana_ore_rawDiathrylium", "count" : 1 }}
		]
	  },
	"viridescent_tile3" : {
		"input" : { "name" : "viridescent_tile3", "count" : 1 },
		"output" : [
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }},
		  {"weight":0.1,"item":{ "name" : "arcana_liquid_viridescentAcid", "count" : 1 }},
		  {"weight":0.01,"item":{ "name" : "arcana_teabag_viridescentTeabag", "count" : 1 }}
		]
	  },
	"redTerminus_tile5" : {
		"input" : { "name" : "redTerminus_tile5", "count" : 1 },
		"output" : [
		  {"weight":0.6,"item":{ "name" : "essence", "count" : 1 }}
		]
	  },
	"nulla_tile6" : {
		"input" : { "name" : "nulla_tile6", "count" : 1 },
		"output" : [
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"jadeMorass_tile1" : {
		"input" : { "name" : "jadeMorass_tile1", "count" : 1 },
		"output" : [
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"goldenForest_tile2" : {
		"input" : { "name" : "goldenForest_tile2", "count" : 1 },
		"output" : [
		  {"weight":0.1,"item":{ "name" : "arcana_flowers_whiteDaisy", "count" : 1 }},
		  {"weight":0.2,"item":{ "name" : "goldore", "count" : 1 }},
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"cerueon_tile2" : {
		"input" : { "name" : "cerueon_tile2", "count" : 1 },
		"output" : [
		  {"weight":0.1,"item":{ "name" : "arcana_ore_rawDiathrylium", "count" : 2 }},
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"arcana_tile20" : {
		"input" : { "name" : "arcana_tile20", "count" : 1 },
		"output" : [
		  {"weight":0.1,"item":{ "name" : "arcana_misc_magifluxExtract", "count" : 2 }},
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"arcana_tile14" : {
		"input" : { "name" : "arcana_tile14", "count" : 1 },
		"output" : [
		  {"weight":0.1,"item":{ "name" : "arcana_misc_magifluxExtract", "count" : 2 }},
		  {"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
		]
	  },
	"arcana_tile13" : {
      "input" : { "name" : "arcana_tile13", "count" : 1 },
      "output" : [
		{"weight":0.1,"item":{ "name" : "arcana_misc_magifluxExtract", "count" : 2 }},
		{"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
	  ]
	},
	"plantmatter" : {
      "input" : { "name" : "plantmatter", "count" : 1 },
      "output" : [
		
		{"weight":0.03,"item":{ "name" : "plantfibre", "count" : 1 }}
	  ]
	},
	"petalblock" : {
      "input" : { "name" : "petalblock", "count" : 1 },
      "output" : [
		
		{"weight":0.3,"item":{ "name" : "plantfibre", "count" : 2 }},
		{"weight":0.075,"item":{ "name" : "giantflowerpetal", "count" : 1 }}
	  ]
	},
	"floweryblock" : {
      "input" : { "name" : "floweryblock", "count" : 1 },
      "output" : [
		
		{"weight":0.3,"item":{ "name" : "plantfibre", "count" : 2 }},
		{"weight":0.075,"item":{ "name" : "giantflowerpetal", "count" : 1 }}
	  ]
	},




	    "moonrock" : {
      "input" : { "name" : "moonrock", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "solidfuel", "count" : 1 }},
		{"weight":0.8,"item":{ "name" : "moonstone", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "moondust", "count" : 1 }}
	  ]
	},

	    "moonstone" : {
      "input" : { "name" : "moonstone", "count" : 1 },
      "output" : [
		
		{"weight":0.4,"item":{ "name" : "solidfuel", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "moondust", "count" : 1 }}
	  ]
	},

	    "moondust" : {
      "input" : { "name" : "moondust", "count" : 1 },
      "output" : [
		
		{"weight":0.6,"item":{ "name" : "liquidfuel", "count" : 2 }}

	  ]
	},
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    "arcaneDesert_tile1" : {
      "input" : { "name" : "arcaneDesert_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }}
	  ]
	},
    "arcaneDesert_tile2" : {
      "input" : { "name" : "arcaneDesert_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }}
	  ]
	},
	    "arcaneDesert_tile3" : {
      "input" : { "name" : "arcaneDesert_tile3", "count" : 1 },
      "output" : [
		
		{"weight":0.5,"item":{ "name" : "arcaneDesert_tile1", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "arcaneDesert_tile2", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }}
	  ]
	},
	
	  "windswept_tile1" : {
      "input" : { "name" : "windswept_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.4,"item":{ "name" : "arcana_flowers_windflower", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_windEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "elemental_crafting_ariostone", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }}
	  ]
	},
	
	

	
    "arcaneForest_tile1" : {
      "input" : { "name" : "arcaneForest_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 2 }}
	  ]
	},
	
	    "arcaneForest_tile2" : {
      "input" : { "name" : "arcaneForest_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 2 }}
	  ]
	},
	
		    "arcaneForest_tile3" : {
      "input" : { "name" : "arcaneForest_tile3", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 2 }}
	  ]
	},
	
	    "arcaneTundra_tile1" : {
      "input" : { "name" : "arcaneTundra_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 2 }}
	  ]
	},
		    "arcaneTundra_tile2" : {
      "input" : { "name" : "arcaneTundra_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_iceEssence", "count" : 2 }}
	  ]
	},
	
	    "bleuark_tile1" : {
      "input" : { "name" : "bleuark_tile1", "count" : 1 },
      "output" : [
		
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_atlaGoldOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_aquaEssence", "count" : 1 }}
	  ]
	},
	
    "bleuark_tile2" : {
      "input" : { "name" : "bleuark_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_atlaGoldOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_aquaEssence", "count" : 1 }}
	  ]
	},
    "azureDesert_tile1" : {
      "input" : { "name" : "azureDesert_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_aspiriteOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_immoriteOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_azuriumOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_azureEssence", "count" : 1 }}
	  ]
	},
	
	    "azureDesert_tile2" : {
      "input" : { "name" : "azureDesert_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_aspiriteOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_immoriteOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_azuriumOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_azureEssence", "count" : 1 }}
	  ]
	},
	
    "eminsnow_tile1" : {
      "input" : { "name" : "eminsnow_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_luminariumOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_lunarEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_immoriteOre", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_aspiriteOre", "count" : 2 }}
	  ]
	},
    "goldenForest_tile1" : {
      "input" : { "name" : "goldenForest_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_essence_terraEssence", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "goldore", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_misc_arkFragment", "count" : 1 }}
	  ]
	},
	
	
    "evoaquatic_tile1" : {
      "input" : { "name" : "evoaquatic_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_morphosisShard", "count" : 2 }}
	  ]
	},
	
	    "evoaquatic_tile2" : {
      "input" : { "name" : "evoaquatic_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_morphosisShard", "count" : 2 }}
	  ]
	},
	
	    "evoaquatic_tile3" : {
      "input" : { "name" : "evoaquatic_tile3", "count" : 1 },
      "output" : [
	    {"weight":0.5,"item":{ "name" : "evoaquatic_tile1", "count" : 1 }},
	    {"weight":0.5,"item":{ "name" : "evoaquatic_tile2", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_morphosisShard", "count" : 2 }}
	  ]
	},
		    "evoaquatic_tile4" : {
      "input" : { "name" : "evoaquatic_tile4", "count" : 1 },
      "output" : [
	    {"weight":0.5,"item":{ "name" : "evoaquatic_tile3", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_morphosisShard", "count" : 2 }}
	  ]
	},
	
	
		    "monarch_tile1" : {
      "input" : { "name" : "monarch_tile1", "count" : 1 },
      "output" : [
		{"weight":0.4,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 2 }},
		{"weight":0.5,"item":{ "name" : "monarch_tile3", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_illuminatedWater", "count" : 2 }}
	  ]
	},
		    "monarch_tile2" : {
      "input" : { "name" : "monarch_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 2 }},
		{"weight":0.5,"item":{ "name" : "monarch_tile4", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_illuminatedWater", "count" : 2 }}
	  ]
	},
	
	
	    "monarch_tile3" : {
      "input" : { "name" : "monarch_tile3", "count" : 1 },
      "output" : [
		{"weight":0.5,"item":{ "name" : "arcana_liquid_illuminatedWater", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 2 }},
		{"weight":0.5,"item":{ "name" : "monarch_tile4", "count" : 1 }}
	  ]
	},
	
	    "monarch_tile4" : {
      "input" : { "name" : "monarch_tile4", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 2 }},
		{"weight":0.3,"item":{ "name" : "arcana_liquid_illuminatedWater", "count" : 2 }}
	  ]
	},
	
	    "geoelectra_tile1" : {
      "input" : { "name" : "geoelectra_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_thoriumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		
		{"weight":0.4,"item":{ "name" : "arcana_liquid_neonWater", "count" : 1 }}
	  ]
	},

	    "geoelectra_tile2" : {
      "input" : { "name" : "geoelectra_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_thoriumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "geoelectra_tile1", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_neonWater", "count" : 1 }}
	  ]
	},
	
	
	
    "superstormExpanse_tile1" : {
      "input" : { "name" : "superstormExpanse_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_thoriumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "superstormExpanse_tile3", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_neonWater", "count" : 1 }}
	  ]
	},
    "superstormExpanse_tile4" : {
      "input" : { "name" : "superstormExpanse_tile4", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_thoriumOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_galvasteelOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_neonWater", "count" : 1 }}
	  ]
	},	

    "superstormExpanse_tile2" : {
      "input" : { "name" : "superstormExpanse_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_thoriumOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_galvasteelOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_neonWater", "count" : 1 }}
	  ]
	},
	
	    "superstormExpanse_tile3" : {
      "input" : { "name" : "superstormExpanse_tile3", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_thoriumOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_galvasteelOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_neonWater", "count" : 1 }}
	  ]
	},
	
    "ruinous_tile1" : {
      "input" : { "name" : "ruinous_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_chromaOre", "count" : 2 }},
		
		{"weight":0.4,"item":{ "name" : "arcana_liquid_ruinousWater", "count" : 2 }}
	  ]
	},
    "empyrean_tile1" : {
      "input" : { "name" : "empyrean_tile1", "count" : 1 },
      "output" : [
		{"weight":0.8,"item":{ "name" : "goldore", "count" : 2 }}
	  ]
	 },
    "ambersoil_tile1" : {
      "input" : { "name" : "ambersoil_tile1", "count" : 1 },
      "output" : [
		{"weight":0.8,"item":{ "name" : "goldore", "count" : 2 }}
	  ]
	 },
    
      "stahlernBadlands_tile1" : {
      "input" : { "name" : "stahlernBadlands_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_verrostinOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_chrysoEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_steelEssence", "count" : 1 }}
	  ]
	},
  
  
        "solarized_tile1" : {
      "input" : { "name" : "solarized_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_atumiumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_solarEssence", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_fireEssence", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "solarized_tile3", "count" : 1 }}
	  ]
	},
  
          "solarized_tile2" : {
      "input" : { "name" : "solarized_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_atumiumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_solarEssence", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_fireEssence", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "solarized_tile3", "count" : 1 }}
	  ]
	},
  
          "solarized_tile3" : {
      "input" : { "name" : "solarized_tile3", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_atumiumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_solarEssence", "count" : 1 }}
	  ]
	},
  
          "solarized_tile4" : {
      "input" : { "name" : "solarized_tile4", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_atumiumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "solarized_tile1", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "solarized_tile2", "count" : 1 }},
		{"weight":0.5,"item":{ "name" : "solarized_tile3", "count" : 1 }}
	  ]
	
  },
  
          "blistering_tile1" : {
      "input" : { "name" : "blistering_tile1", "count" : 1 },
      "output" : [
		{"weight":0.4,"item":{ "name" : "arcana_essence_fireEssence", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "elemental_crafting_magifireCrystal", "count" : 2 }}
	  ]
	
  },
  
          "automated_tile1" : {
      "input" : { "name" : "automated_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "workshop_crafting_rawDustrium", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_galvasteelOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_machinaEssence", "count" : 1 }}
	  ]
	
  },
  
            "automated_tile2" : {
      "input" : { "name" : "automated_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "workshop_crafting_rawDustrium", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_galvasteelOre", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_machinaEssence", "count" : 1 }}
	  ]
	
  },
  
  
  
      "glowtear_tile1" : {
      "input" : { "name" : "glowtear_tile1", "count" : 1 },
      "output" : [
		{"weight":0.5,"item":{ "name" : "glowtear_tile2", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_chromaOre", "count" : 2 }}
	  ]
	
  },
      "glowtear_tile2" : {
      "input" : { "name" : "glowtear_tile2", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_chromaOre", "count" : 2 }}
	  ]
	
  },
  
        "animus_tile1" : {
      "input" : { "name" : "animus_tile1", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_animaOre", "count" : 2 }},
        {"weight":0.4,"item":{ "name" : "arcana_misc_avostone", "count" : 1 }}
	  ]
	
  },
          "animus_tile2" : {
      "input" : { "name" : "animus_tile2", "count" : 1 },
      "output" : [
		{"weight":0.5,"item":{ "name" : "animus_tile1", "count" : 1 }},
        {"weight":0.5,"item":{ "name" : "animus_tile4", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_animaOre", "count" : 2 }}
	  ]
	
  },
          "animus_tile4" : {
      "input" : { "name" : "animus_tile4", "count" : 1 },
      "output" : [
		
		{"weight":0.2,"item":{ "name" : "arcana_ore_animaOre", "count" : 2 }},
        {"weight":0.4,"item":{ "name" : "arcana_misc_avostone", "count" : 1 }}
	  ]
	
  },
            "animus_tile5" : {
      "input" : { "name" : "animus_tile5", "count" : 1 },
      "output" : [
		{"weight":0.5,"item":{ "name" : "animus_tile1", "count" : 1 }},
        {"weight":0.5,"item":{ "name" : "animus_tile4", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_animaOre", "count" : 2 }}
	  ]
	
  },
  
  
      "ardentTaiga_tile1" : {
      "input" : { "name" : "ardentTaiga_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "arcana_essence_iceEssence", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_misc_renatineFragment", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_terraEssence", "count" : 1 }}
	  ]	
  },
        "ardentTaiga_tile2" : {
      "input" : { "name" : "ardentTaiga_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "arcana_essence_iceEssence", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_misc_renatineFragment", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_terraEssence", "count" : 1 }}
	  ]	
  },
        "ardentTaiga_tile3" : {
      "input" : { "name" : "ardentTaiga_tile3", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "arcana_essence_iceEssence", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_misc_renatineFragment", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_terraEssence", "count" : 1 }}
	  ]	
  },
  
        "desolate_tile1" : {
      "input" : { "name" : "desolate_tile1", "count" : 1 },
      "output" : [
		{"weight":0.4,"item":{ "name" : "arcana_liquid_ruinousWater", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "arcana_ore_necroiumFragment", "count" : 2 }},
		{"weight":0.1,"item":{ "name" : "arcana_essence_abyssEssence", "count" : 1 }}
	  ]	
  },
          "desolate_tile2" : {
      "input" : { "name" : "desolate_tile2", "count" : 1 },
      "output" : [
		{"weight":0.4,"item":{ "name" : "arcana_liquid_ruinousWater", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "arcana_ore_necroiumFragment", "count" : 2 }},
		{"weight":0.1,"item":{ "name" : "arcana_essence_abyssEssence", "count" : 1 }}
	  ]	
  },
       "timeless_tile1" : {
      "input" : { "name" : "timeless_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_rawDiathrylium", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "arcana_ore_borealiteOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }}
	  ]	
  },

        "viridescent_tile2" : {
      "input" : { "name" : "viridescent_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_corrodiumOre", "count" : 2 }},
		{"weight":0.4,"item":{ "name" : "arcana_liquid_viridescentAcid", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "arcana_essence_poisonEssence", "count" : 1 }}
	  ]	
  },
          "glowtearUnderground_tile1" : {
      "input" : { "name" : "glowtearUnderground_tile1", "count" : 1 },
      "output" : [
		{"weight":0.4,"item":{ "name" : "arcana_liquid_arcaneWater", "count" : 1 }},
        {"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 2 }}
	  ]	
  },
           "jadeMorass_tile2" : {
      "input" : { "name" : "jadeMorass_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "crystal", "count" : 1 }}
	  ]	
  },
             "polar_tile1" : {
      "input" : { "name" : "polar_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_aspiriteOre", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "arcana_essence_intimaEssence", "count" : 1 }}
	  ]	
  }, 
               "polar_tile3" : {
      "input" : { "name" : "polar_tile3", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_immoriteOre", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "arcana_essence_vileEssence", "count" : 1 }}
	  ]	
  }, 
               "polar_tile2" : {
      "input" : { "name" : "polar_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_noxionOre", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "arcana_essence_poisonEssence", "count" : 1 }}
	  ]	
  }, 

        "nihil_tile1" : {
      "input" : { "name" : "nihil_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 2 }},
        {"weight":0.4,"item":{ "name" : "arcana_liquid_illuminatedWater", "count" : 2 }},
		{"weight":0.5,"item":{ "name" : "nihil_tile2", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "monarch_tile4", "count" : 1 }}
	  ]	
  },
        "nihil_tile2" : {
      "input" : { "name" : "nihil_tile2", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 2 }},
        {"weight":0.4,"item":{ "name" : "arcana_liquid_illuminatedWater", "count" : 2 }},
		{"weight":0.5,"item":{ "name" : "nihil_tile1", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "monarch_tile3", "count" : 1 }}
	  ]	
  },  
          "volcanicCave_tile1" : {
      "input" : { "name" : "volcanicCave_tile1", "count" : 1 },
      "output" : [
		{"weight":0.2,"item":{ "name" : "arcana_ore_enartzFragment", "count" : 2 }},
        {"weight":0.4,"item":{ "name" : "arcana_misc_rufescite", "count" : 2 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_exoslateFragment", "count" : 1 }},
		{"weight":0.1,"item":{ "name" : "arcana_essence_vermilionEssence", "count" : 1 }}
	  ]	
  },
           "ashen_tile1" : {
      "input" : { "name" : "ashen_tile1", "count" : 1 },
      "output" : [
		{"weight":0.6,"item":{ "name" : "arcana_ore_enartzFragment", "count" : 2 }}
	  ]	
  },
  
  
  
  
            "ruinous_tile2" : {
      "input" : { "name" : "ruinous_tile2", "count" : 1 },
      "output" : [
		{"weight":0.4,"item":{ "name" : "arcana_liquid_ruinousWater", "count" : 2 }},
        {"weight":0.2,"item":{ "name" : "ruinous_tile1", "count" : 1 }},
		{"weight":0.1,"item":{ "name" : "arcana_essence_abyssEssence", "count" : 1 }}
	  ]	
  }

  
  
 },
  
  
  
  
  
  "craftingTime" : 0.8,
  "outputTime" : 1.0,
  "outputRate" : 10
  //"description" : "Testing 1"
}
