{
  "bites": 5,
  "frames": [
    "full",
    "bite1",
    "bite2",
    "bite3",
    "bite4",
    "empty"
  ],
  "satietyEffect": "at_ext_fishburger_bite",
  "satietyEffectDuration": 0.1,
  "effects": [
    {
      "effect": "maxhealthscalingboostfood",
      "duration": 120
    }
  ],
  "steamEmitter": "steam"
}
