{
  "bites" : 4,
  "frames" : [ "full", "bite1", "bite2", "bite3", "empty" ],
  "satietyEffect" : "at_ext_avesmingoicecream_bite",
  "satietyEffectDuration" : 0.1,
  "effects" : [
    { "effect" : "runboostfood", "duration" : 50.75 },
    { "effect" : "maxenergyscalingboostfood", "duration" : 50.75 }
  ]
}
