{
  "recipes" : {

//       Loots
    "at_ext_reddiamond" : {
      "input" : [
        { "name" : "at_ext_reddiamond", "count" : 1 }
      ],
      "output" : { "name" : "at_ext_creditcard", "count" : 1 }
	},
    "at_ext_medevice" : {
      "input" : [
        { "name" : "at_ext_medevice", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 5000 }
	},
    "at_ext_dronecontrol" : {
      "input" : [
        { "name" : "at_ext_dronecontrol", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 3000 }
	},
    "at_ext_emptybottle" : {
      "input" : [
        { "name" : "at_ext_emptybottle", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 10 }
	},
//                                Uncommon


    "at_ext_dj_loot_uncm1" : {
      "input" : [
        { "name" : "at_ext_dj_loot_uncm1", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 30 }
	},
    "at_ext_dj_loot_uncm2" : {
      "input" : [
        { "name" : "at_ext_dj_loot_uncm2", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 80 }
	},
    "at_ext_dj_loot_uncm3" : {
      "input" : [
        { "name" : "at_ext_dj_loot_uncm3", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 40 }
	},
    "at_ext_dj_loot_uncm4" : {
      "input" : [
        { "name" : "at_ext_dj_loot_uncm4", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 70 }
	},

//                                Common


    "at_ext_dj_loot_cm1" : {
      "input" : [
        { "name" : "at_ext_dj_loot_cm1", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 150 }
	},
    "at_ext_dj_loot_cm2" : {
      "input" : [
        { "name" : "at_ext_dj_loot_cm2", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 200 }
	},
    "at_ext_dj_loot_cm3" : {
      "input" : [
        { "name" : "at_ext_dj_loot_cm3", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 180 }
	},


 //                               Rare 


    "at_ext_dj_loot_rr1" : {
      "input" : [
        { "name" : "at_ext_dj_loot_rr1", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 400 }
	},  
    "at_ext_dj_loot_rr2" : {
      "input" : [
        { "name" : "at_ext_dj_loot_rr2", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 480 }
	}, 
    "at_ext_dj_loot_rr3" : {
      "input" : [
        { "name" : "at_ext_dj_loot_rr3", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 350 }
	},


//                   Lengendary




















//                       BARs




    "ironbar" : {
      "input" : [
        { "name" : "ironbar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 2 }
	},
	    "copperbar" : {
      "input" : [
        { "name" : "copperbar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 2 }
	},
		    "tungstenbar" : {
      "input" : [
        { "name" : "tungstenbar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 4 }
	},
	
		    "silverbar" : {
      "input" : [
        { "name" : "silverbar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 2 }
	},
	
		    "goldbar" : {
      "input" : [
        { "name" : "goldbar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 4 }
	},
		    "titaniumbar" : {
      "input" : [
        { "name" : "titaniumbar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 6 }
	},
		    "durasteelbar" : {
      "input" : [
        { "name" : "durasteelbar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 7 }
	},		


		    "refinedviolium" : {
      "input" : [
        { "name" : "refinedviolium", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 7 }
	},	

		    "refinedferozium" : {
      "input" : [
        { "name" : "refinedferozium", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 7 }
	},	

		    "refinedaegisalt" : {
      "input" : [
        { "name" : "refinedaegisalt", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 7 }
	},		


		    "solariumstar" : {
      "input" : [
        { "name" : "solariumstar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 5 }
	},		
		
	
	
	
	









    "arcana_bar_atlaGoldBar" : {
      "input" : [
        { "name" : "arcana_bar_atlaGoldBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 5 }
	},
    "arcana_bar_holosiumBar" : {
      "input" : [
        { "name" : "arcana_bar_holosiumBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 18 }
	},
    "arcana_bar_animaBar" : {
      "input" : [
        { "name" : "arcana_bar_animaBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 15 }
	},
    "arcana_bar_morphosisBar" : {
      "input" : [
        { "name" : "arcana_bar_morphosisBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 17 }
	},
	

    "arcana_bar_galvasteelBar" : {
      "input" : [
        { "name" : "arcana_bar_galvasteelBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 4 }
	},
    "arcana_bar_thoriumBar" : {
      "input" : [
        { "name" : "arcana_bar_thoriumBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 19 }
	},
    "arcana_bar_necroiumBar" : {
      "input" : [
        { "name" : "arcana_bar_necroiumBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 19 }
	},

    "arcana_bar_hakenStahlite" : {
      "input" : [
        { "name" : "arcana_bar_hakenStahlite", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 20 }
	},
    "arcana_bar_hakenVerrostin" : {
      "input" : [
        { "name" : "arcana_bar_hakenVerrostin", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 18 }
	},
    "arcana_bar_aureolaBar" : {
      "input" : [
        { "name" : "arcana_bar_aureolaBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 5 }
	},	

    "arcana_bar_borealiteBar" : {
      "input" : [
        { "name" : "arcana_bar_borealiteBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 32 }
	},	
    "arcana_bar_atumiumBar" : {
      "input" : [
        { "name" : "arcana_bar_atumiumBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 43 }
	},	
    "arcana_bar_azuriumBar" : {
      "input" : [
        { "name" : "arcana_bar_azuriumBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 45 }
	},
    "arcana_bar_luminariumBar" : {
      "input" : [
        { "name" : "arcana_bar_luminariumBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 17 }
	},	
    "arcana_bar_corrodiumBar" : {
      "input" : [
        { "name" : "arcana_bar_corrodiumBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 22 }
	},		

    "arcana_bar_nullatusBar" : {
      "input" : [
        { "name" : "arcana_bar_nullatusBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 6 }
	},	
    "arcana_bar_exoslate" : {
      "input" : [
        { "name" : "arcana_bar_exoslate", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 8 }
	},	
	


    "arcana_bar_refinedAspirite" : {
      "input" : [
        { "name" : "arcana_bar_refinedAspirite", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 16 }
	},	
    "arcana_bar_refinedImmorite" : {
      "input" : [
        { "name" : "arcana_bar_refinedImmorite", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 16 }
	},	
    "arcana_bar_refinedNoxion" : {
      "input" : [
        { "name" : "arcana_bar_refinedNoxion", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 16 }
	},	



    "workshop_crafting_dustriumPlate" : {
      "input" : [
        { "name" : "workshop_crafting_dustriumPlate", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 4 }
	},	
	
	
	
	
	
	
    "arcana_bar_arcaniumBar" : {
      "input" : [
        { "name" : "arcana_bar_arcaniumBar", "count" : 1 }
      ],
      "output" : { "name" : "arcana_currency_credit", "count" : 14 }
	}
	
	
	
	
	
	
  },
  "craftingTime" : 0.01,
  "outputRate" : 800
}
