{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_at_ext_trade.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [117, 88],
      "dimensions" : [3, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },


    "close" : {
      "type" : "button",
      "base" : "/interface/chests/at_ext_x.png",
      "hover" : "/interface/chests/at_ext_xhover.png",
      "pressed" : "/interface/chests/at_ext_xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [267, 305]
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 289],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 229,
      "value" : "^white;An automatic Trade Terminal, Connected to Titan Corp's trading network, goods can be automatically shipped to Titan Corp's ^yellow;Trade Division. ^orange;No power Required. Can be wired to other machines.^reset;"
    },
    "lblText2" : {
      "type" : "label",
      "position" : [70, 230],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 229,
      "value" : "^green;In demand:\narmours, weapons, bars and \n^orange;Undercity loots^reset;.^reset;"
    },







    "lblRate" : {
      "type" : "label",
      "position" : [11, 35],
      "hAnchor" : "left",
      "wrapWidth" : 125,
	  "fontSize" : 6.4,
      "value" : "^yellow;rate: 0.1s"
    }
  }
}
