{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_at_ext_solar.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer_clean.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [96, 105],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/arcana/arcana_auto/empty_b2.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/chests/at_ext_x.png",
      "hover" : "/interface/chests/at_ext_xhover.png",
      "pressed" : "/interface/chests/at_ext_xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [265, 255]
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 170],
      "hAnchor" : "left",
      "wrapWidth" : 229,
      "value" : "A solar panel capable of converting solar energy into electricity. \n^blue;Must be placed on the surface, can only generate power during the day.\n^orange;Can be wired to other machines.^reset;"
    },

    "lblPower" : {
      "type" : "label",
      "position" : [171, 99],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 64,
	  "fontSize" : 6.4,
      "value" : "^yellow;30 kW^reset;"
    },

    "objectImage" : {
      "type" : "image",
      "position" : [233, 106],
      "file" : "",
      "centered" : true,
      "maxSize" : [65, 100],
      "minSize" : [40, 40]
    }
  }
}
