{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header_small.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_at_ext_extractor.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer_small.png"
    },
	


	"liquidPane" : {
	  "type" : "layout",
	  "layoutType" : "basic",
	  "visible" : true,
	  "rect": [
		20, 100, 229, 228
	  ],
	  "children" : {	
		"liquidArea" : {
		  "type": "scrollArea",
		  "zlevel": 1,
		  "rect": [
			0,
			0,
			209,
			120
		  ],
	      "children" : {
		    "liquidList" : {
		      "type" : "list",
		      "callback" : "null",
		      "position" : [1, 185],
		      "columns" : 1,
		      "fillDown" : true,
		      "scissoring" : false,
		      "schema" : {
			    "spacing" : [1, 1],
			    "memberSize" : [189, 80],
			    "listTemplate" : {
				  "name" : {
				    "type" : "label",
				    "position" : [36, 69],
				    "hAnchor" : "left",
				    "vAnchor" : "top",
				    "wrapWidth" : 300,
				    "fontSize" : 7.2,
				    "color" : "orange",
				    "value" : "Tiled Name",
				    "zlevel" : 3
				  },
				  "description" : {
				    "type" : "label",
				    "position" : [36, 59],
				    "hAnchor" : "left",
				    "vAnchor" : "top",
				    "wrapWidth" : 180,
				    "fontSize" : 7.2,
				    "value" : "Replace Me :D",
				    "zlevel" : 3
				  },
				  "extraction" : {
				    "type" : "label",
				    "position" : [36, 32],
				    "hAnchor" : "left",
				    "vAnchor" : "top",
					"color" : "gray",
				    "wrapWidth" : 180,
				    "fontSize" : 6.0,
				    "value" : "^red;Extraction results:",
				    "zlevel" : 3
				  },
				  "back" : {
				    "type" : "image",
				    "position" : [0, 0],
				    "file" : "/interface/scripted/arcana_books/paragraphshort.png",
				    "zlevel" : 2
				  },
				  "iconback" : {
				    "type" : "image",
				    "position" : [11, 52],
				    "file" : "/interface/scripted/arcana_books/iconempty.png",
				    "zlevel" : 2
				  },
				  "icon" : {
				    "type" : "image",
				    "position" : [12, 53],
				    "file" : "/interface/scripted/arcana_books/gettingstarted.png",
				    "zlevel" : 3
				  },
				  "outputList" : {
				    "type" : "list",
				    "callback" : "null",
				    "position" : [12, 0],
				    "columns" : 4,
				    "fillDown" : true,
				    "scissoring" : false,
					"zlevel" : 4,
				    "schema" : {
					  "spacing" : [1, 1],
					  "memberSize" : [18, 18],
					  "listTemplate" : {
					    "iconback" : {
						  "type" : "image",
						  "position" : [23, 24],
						  "file" : "/interface/scripted/arcana_books/iconempty.png",
						  "zlevel" : 5
					    },
					    "icon" : {
						  "type" : "image",
						  "position" : [24, 25],
						  "file" : "/interface/scripted/arcana_books/gettingstarted.png",
						  "zlevel" : 5
					    }
					  }
				    }
				  }
			    }
		      }
		    }
	      }
	    }
	  }
	},	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [45, 66],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [83, 56],
      "dimensions" : [2, 2],
      "spacing" : [19, 19],
      "slotOffset" : 1,
      "backingImage" : "/interface/inventory/empty.png"
    },
    
	
	
	
	
	
	

    "close" : {
      "type" : "button",
      "base" : "/interface/chests/at_ext_x.png",
      "hover" : "/interface/chests/at_ext_xhover.png",
      "pressed" : "/interface/chests/at_ext_xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [227, 255]
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 220],
      "hAnchor" : "left",
      "wrapWidth" : 189,
	  "fontSize" : 6.4,
      "value" : "^white;An automatic machine that extracts materials from tiles. ^orange;No power required. Can be wired to other machines.^reset;"
    },
	"lblText2" : {
      "type" : "label",
      "position" : [9, 45],
      "hAnchor" : "left",
      "wrapWidth" : 125,
	  "fontSize" : 6.4,
      "value" : "^yellow;Consume ^red;1 ^yellow;tiles at once."
    },
	  "lblText3" : {
      "type" : "label",
      "position" : [32, 160],
      "hAnchor" : "left",
      "wrapWidth" : 125,
	  "fontSize" : 10,
      "value" : ""
    },
	  "lblText4" : {
      "type" : "label",
      "position" : [167, 94],
      "hAnchor" : "left",
      "wrapWidth" : 125,
	  "fontSize" : 10,
      "value" : ""
    },
    "lblRate" : {
      "type" : "label",
      "position" : [12, 35],
      "hAnchor" : "left",
      "wrapWidth" : 125,
	  "fontSize" : 6.4,
      "value" : "^white;Rate: 2s"
    }
  },
  
  "scripts" : ["/interface/arcana/arcana_auto/at_ext_extc.lua"],
  "scriptDelta" : 40
}
