{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_b2.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer_clean.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [96, 105],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/arcana/arcana_auto/empty_b2.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/chests/at_ext_x.png",
      "hover" : "/interface/chests/at_ext_xhover.png",
      "pressed" : "/interface/chests/at_ext_xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [265, 255]
    },
    "stateToggle" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_auto/stateoff.png",
      "baseImageChecked" : "/interface/arcana/arcana_auto/stateon.png",
      "checkable" : true,
      "checked" : true,
      "position" : [222, 252]
    },
    "lblState" : {
      "type" : "label",
      "position" : [240, 256],
      "hAnchor" : "mid",
      "wrapWidth" : 60,
	  "fontSize" : 7.2,
      "value" : "^white,shadow;On/Off^reset;"
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 213],
      "hAnchor" : "left",
      "wrapWidth" : 229,
      "value" : "A reactor that burns ^#9F3CCE;Erchius Fuel.^orange;Can be wired to other machines.^reset;"
    },
   "lblInput1" : {
      "type" : "label",
      "position" : [14, 123],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 80,
	  "fontSize" : 6.4,
      "value" : "^#9F3CCE;4 solidfuel^reset; / 1 min^reset;"
    },
   "lblInput2" : {
      "type" : "label",
      "position" : [14, 112],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 80,
	  "fontSize" : 6.4,
      "value" : "^#9F3CCE;8 liquidfuel^reset; / 1 min^reset;"
    },
    "lblPower" : {
      "type" : "label",
      "position" : [171, 99],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 64,
	  "fontSize" : 6.4,
      "value" : "^#9F3CCE;70 kW^reset;"
    },

    "objectImage" : {
      "type" : "image",
      "position" : [233, 106],
      "file" : "",
      "centered" : true,
      "maxSize" : [65, 100],
      "minSize" : [40, 40]
    }
  },
  "scriptWidgetCallbacks" : [
    "stateToggle"
  ],
  
  "scripts" : ["/interface/arcana/arcana_auto/at_ext_burner.lua"],
  "scriptDelta" : 2
}
