{
  "canBookmark" : false,
  
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [


	    {
      "name" : "Sewer Area",
      "planetName" : "Random Deploy [Threatlvl : 1]",
      "warpAction" : "InstanceWorld:at_ext_dailyjob1_replay",
      "prerequisiteQuest" : "at_ext_dailyjob1",
      "icon" : "at_ext_dailyjob"
    },
	    {
      "name" : "Sewer Area",
      "planetName" : "Random Deploy [Threatlvl : 3]",
      "warpAction" : "InstanceWorld:at_ext_dailyjob1_replay_t3",
      "prerequisiteQuest" : "at_ext_dailyjob1",
      "icon" : "at_ext_dailyjob"
    }
  ]
}
