{
  "canBookmark" : false,
  
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [

    {
      "name" : "^green;Hematite ^reset;Class",
      "planetName" : "Your apartment",
      "warpAction" : "InstanceWorld:at_ext_hab1",
      "prerequisiteQuest" : "at_ext_hab1_buy",
      "icon" : "at_ext_hab"
    },
    {
      "name" : "^#b4ecf1;Osmium ^reset;Class A",
      "planetName" : "Your apartment",
      "warpAction" : "InstanceWorld:at_ext_hab2",
      "prerequisiteQuest" : "at_ext_hab2_buy",
      "icon" : "at_ext_hab2"
    },
    {
      "name" : "^#b4ecf1;Osmium ^reset;Class B",
      "planetName" : "Your apartment",
      "warpAction" : "InstanceWorld:at_ext_hab2_1",
      "prerequisiteQuest" : "at_ext_hab2_1_buy",
      "icon" : "at_ext_hab2"
    },
    {
      "name" : "^orange;Ironveil^reset; Block A",
      "planetName" : "Your apartment",
      "warpAction" : "InstanceWorld:at_ext_hab3_1",
      "prerequisiteQuest" : "at_ext_hab3_1_buy",
      "icon" : "at_ext_hab3"
    }

  ]
}
