{
  "canBookmark" : false,
  
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [

    {
      "name" : "Mission1",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d1",
      "prerequisiteQuest" : "at_ext_d1",
      "icon" : "at_ext_replay"
    },
    {
      "name" : "Mission2",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d2",
      "prerequisiteQuest" : "at_ext_d2",
      "icon" : "at_ext_replay"
    },
    {
      "name" : "Mission3",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d3",
      "prerequisiteQuest" : "at_ext_d3",
      "icon" : "at_ext_replay"
    },
    {
      "name" : "Mission4",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d4",
      "prerequisiteQuest" : "at_ext_d4",
      "icon" : "at_ext_replay"
    },
    {
      "name" : "Mission5",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d5",
      "prerequisiteQuest" : "at_ext_d5",
      "icon" : "at_ext_replay"
    },
	    {
      "name" : "Mission6",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d6",
      "prerequisiteQuest" : "at_ext_d6",
      "icon" : "at_ext_replay"
    },
	    {
      "name" : "Mission7",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d7",
      "prerequisiteQuest" : "at_ext_d7",
      "icon" : "at_ext_replay"
    },
	    {
      "name" : "Mission8",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d9",
      "prerequisiteQuest" : "at_ext_d9",
      "icon" : "at_ext_replay"
    },
	    {
      "name" : "Mission9",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d8",
      "prerequisiteQuest" : "at_ext_d8",
      "icon" : "at_ext_replay"
    },
	    {
      "name" : "Mission10",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d10",
      "prerequisiteQuest" : "at_ext_d10",
      "icon" : "at_ext_replay"
    },
	    {
      "name" : "Mission11",
      "planetName" : "Replay",
      "warpAction" : "InstanceWorld:at_ext_d11",
      "prerequisiteQuest" : "at_ext_d11",
      "icon" : "at_ext_replay"
    }
  ]
}
