{
  "canBookmark" : false,
  
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [

    {
      "name" : "^green;Hematite ^reset;Class",
      "planetName" : "Tour the sample room",
      "warpAction" : "InstanceWorld:at_ext_hab1_preview",

      "icon" : "at_ext_replay"
    },
    {
      "name" : "^#b4ecf1;Osmium ^reset;Class A",
      "planetName" : "Tour the sample room",
      "warpAction" : "InstanceWorld:at_ext_hab2_preview",

      "icon" : "at_ext_replay"
    },
    {
      "name" : "^#b4ecf1;Osmium ^reset;Class B",
      "planetName" : "Tour the sample room",
      "warpAction" : "InstanceWorld:at_ext_hab2_1_preview",

      "icon" : "at_ext_replay"
    },
    {
      "name" : "^orange;Ironveil^reset; Block A",
      "planetName" : "Tour the sample room",
      "warpAction" : "InstanceWorld:at_ext_hab3_1_preview",

      "icon" : "at_ext_replay"
    }

  ]
}
