{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/at_ext_9slots_header.png",
      "fileBody" : "/interface/chests/at_ext_9slots_body.png",
      "fileFooter" : "/interface/chests/at_ext_9slots_footer.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [40, 81],
      "file" : "/objects/workshop/at_ext_wallstorage/preview.png",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/chests/at_ext_button.png",
      "hover" : "/interface/chests/at_ext_button_press.png",
      "press" : "/interface/chests/at_ext_button_hover.png",
      "caption" : "Take all",
      "position" : [101, 26]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 42],
      "dimensions" : [4, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "16 SLOTS",
      "hAnchor" : "mid",
      "position" : [120, 119]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/at_ext_9slots_overlay.png",
      "position" : [0, 2]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/chests/at_ext_x.png",
      "hover" : "/interface/chests/at_ext_xhover.png",
      "pressed" : "/interface/chests/at_ext_xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [143, 130]
    }
  }
}
