{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "fireexplosionknockback"
    },
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/ember1/ember1.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "projectile",
      "type" : "at_ext_bomb_shard2",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.1,
      "angleAdjust" : 2
    },
    {
      "action" : "projectile",
      "type" : "at_ext_bomb_shard2",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.1,
      "angleAdjust" : -2
    },
    {
      "action" : "projectile",
      "type" : "at_ext_bomb_shard2",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.1,
      "angleAdjust" : 6
    },
    {
      "action" : "projectile",
      "type" : "at_ext_bomb_shard2",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.1,
      "angleAdjust" : -6
    },
    {
      "action" : "projectile",
      "type" : "at_ext_bomb_shard2",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.1,
      "angleAdjust" : 10
    },
    {
      "action" : "projectile",
      "type" : "at_ext_bomb_shard2",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.1,
      "angleAdjust" : -10
    },
    {
      "action" : "light",
      "color" : "yellow"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 10,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.6,
      "delaySteps" : 2
    }

  ]
}
