{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "ruinous_munition_explosion",
      "config" : {
      "power" : 350
      }
    }, {
      "action" : "loop",
      "count" : 5,
      "body" : [{
        "fuzzAngle" :50,
        "angle" : 90,
        "action" : "projectile",
        "type" : "ruinous_flame",
        "config" : {
                                "movementSettings" : {
          "gravityMultiplier" : 0.5
        },
        "physics" : "grenade",
              "speed" : 30.0,
              "timeToLive" : 0.8,
              "periodicActions" : [{
            "inheritDamageFactor" : 0.5,
            "inheritSpeedFactor" : 0.1,
            "action" : "projectile",
            "fuzzAngle" : 180,
            "type" : "ruinous_flame",
            "time" : 0.09,
            "config" : {
              "timeToLive" : 0.8
            }
          }]
        }
      }]
      
    },
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/arcana_animation_flame_large_black/arcana_animation_flame_large_black.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/arcana_animation_flame_small_purple/arcana_animation_flame_small_purple.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 1.5,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/arcana_animation_flame_large_black/arcana_animation_flame_large_black.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 1.5,
                "size" : 0.5,
                "variance" : {
                  "position" : [1.5, 1.5],
                   "size" : 0.5,
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_fire1.ogg", "/sfx/gun/grenadeblast_fire2.ogg", "/sfx/gun/grenadeblast_fire3.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 10,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.0,
      "delaySteps" : 2
    }

  ]
}
