{
  "recipes" : {
    "workshop_crafting_dustriumPlate" : {
      "input" : [
        { "name" : "workshop_crafting_rawDustrium", "count" : 4 }
      ],
      "output" : { "name" : "workshop_crafting_dustriumPlate", "count" : 2 }
	},
    "arcana_bar_galvasteelBar" : {
      "input" : [
        { "name" : "arcana_ore_galvasteelOre", "count" : 4 }
      ],
      "output" : { "name" : "arcana_bar_galvasteelBar", "count" : 2 }
	},
    "ironbar" : {
      "input" : [
        { "name" : "ironore", "count" : 4 }
      ],
      "output" : { "name" : "ironbar", "count" : 2 }
	}
  },
  "craftingTime" : 1,
  "outputRate" : 4,
  "powerUseAmount" : 15,
  "description" : "^white;An automatic foundry for smelting minerals into metal bars.^blue;MK2: Faster refining speed. ^orange;Requires 15kW of Power. Can be wired to other machines.^reset;"
}
