{
  "recipes" : {
    "workshop_crafting_motor" : {
      "input" : [
        { "name" : "workshop_crafting_dustriumPanel", "count" : 2 },
		{ "name" : "workshop_crafting_dustriumWire", "count" : 8 }
      ],
      "output" : { "name" : "workshop_crafting_motor", "count" : 1 }
	},
    "workshop_crafting_reinforcedFrame" : {
      "input" : [
        { "name" : "workshop_crafting_dustriumPanel", "count" : 4 },
		{ "name" : "arcana_bar_galvasteelBar", "count" : 4 }
      ],
      "output" : { "name" : "workshop_crafting_reinforcedFrame", "count" : 1 }
	},
 
  
  
      "arcana_misc_copperComponent" : {
      "input" : [
        { "name" : "copperbar", "count" : 4 },
		{ "name" : "tungstenbar", "count" : 4 },
		{ "name" : "wire", "count" : 1 }
      ],
      "output" : { "name" : "arcana_misc_copperComponent", "count" : 1 }
	},
  
      "arcana_misc_geodeComponent" : {
      "input" : [
        { "name" : "arcana_bar_atlaGoldBar", "count" : 4 },
		{ "name" : "arcana_bar_arcaniumBar", "count" : 4 },
		{ "name" : "arcana_misc_copperComponent", "count" : 1 }
      ],
      "output" : { "name" : "arcana_misc_geodeComponent", "count" : 1 }
	},
  
  
        "arcana_misc_ceruleanComponent" : {
      "input" : [
        { "name" : "arcana_bar_morphosisBar", "count" : 1 },
		{ "name" : "arcana_bar_animaBar", "count" : 1 },
		{ "name" : "arcana_misc_geodeComponent", "count" : 1 }
      ],
      "output" : { "name" : "arcana_misc_ceruleanComponent", "count" : 1 }
	},
  
          "arcana_misc_raidenComponent" : {
      "input" : [
        { "name" : "arcana_bar_hakenVerrostin", "count" : 1 },
		{ "name" : "arcana_bar_thoriumBar", "count" : 1 },
		{ "name" : "arcana_misc_ceruleanComponent", "count" : 1 }
      ],
      "output" : { "name" : "arcana_misc_raidenComponent", "count" : 1 }
	},
  
            "arcana_misc_verrostinComponent" : {
      "input" : [
        { "name" : "arcana_bar_hakenVerrostin", "count" : 1 },
		{ "name" : "wire", "count" : 4 }
      ],
      "output" : { "name" : "arcana_misc_verrostinComponent", "count" : 1 }
	}
  },
  
 
  
  
  
  
  
  
  
  
  
  
  "craftingTime" : 2.0,
  "outputRate" : 10,
  "description" : "^white;An automatic assembler for creating basic materials. ^orange;Requires 15kW of Power. Can be wired to other machines.^reset;"
}
