{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/scripted/at_ext_vault/header.png",
      "fileBody": "/interface/scripted/at_ext_vault/body.png",
      "fileFooter": "/interface/scripted/at_ext_vault/footer.png"
    },
    "imgLoadingOverlay": {
      "type": "image",
      "zlevel": 10,
      "file": "/interface/scripted/at_ext_vault/loading.png:0",
      "position": [0, 54]
    },
    "title": {
      "type": "label",
      "value": "^orange;Digital Bank^reset;",
      "position": [40, 170],
      "hAnchor": "left",
      "fontSize": 13
    },

    "itemLabel": {
      "type": "label",
      "position": [15, 100],
      "hAnchor": "left",
      "value": "^green;Credit^reset;",
      "zlevel": 1
    },
    "playerAmount": {
      "type": "label",
      "position": [55, 119],
      "hAnchor": "left",
      "value": "Inventory: 0",
      "zlevel": 1
    },
    "vaultAmount": {
      "type": "label",
      "position": [55, 104],
      "hAnchor": "left",
      "value": "Bank: 0",
      "zlevel": 1
    },
    "amountInput": {
      "type": "textbox",
      "position": [55, 90],
      "fontSize": 7.2,
      "hint": "^grey;Input amount...^reset;",
      "zlevel": 1
    },
    "depositBtn": {
      "type": "button",
      "base": "/interface/scripted/at_ext_vault/at_ext_vault_interface_button.png",
      "hover": "/interface/scripted/at_ext_vault/at_ext_vault_interface_button_hover.png",
      "press": "/interface/scripted/at_ext_vault/at_ext_vault_interface_button_press.png",
      "position": [30, 63],
      "fontSize": 7.2,
      "caption": "Deposit",
      "zlevel": 1,
      "callback": "onDeposit"
    },
    "withdrawBtn": {
      "type": "button",
      "base": "/interface/scripted/at_ext_vault/at_ext_vault_interface_button.png",
      "hover": "/interface/scripted/at_ext_vault/at_ext_vault_interface_button_hover.png",
      "press": "/interface/scripted/at_ext_vault/at_ext_vault_interface_button_press.png",
      "position": [90, 63],
      "fontSize": 7.2,
      "caption": "Withdraw",
      "zlevel": 1,
      "callback": "onWithdraw"
    },
    "statusLabel": {
      "type": "label",
      "position": [7, 45],
      "hAnchor": "left",
      "color": "#FFFF00",
      "fontSize": 7.2,
      "value": "",
      "zlevel": 1
    },
    "close": {
      "type": "button",
      "base": "/interface/chests/at_ext_x.png",
      "hover": "/interface/chests/at_ext_xhover.png",
      "pressed": "/interface/chests/at_ext_xpress.png",
      "position": [140, 172],
      "pressedOffset": [0, 0],
      "callback": "onClose"
    }
  },
  "scriptWidgetCallbacks": ["amountInput","onDeposit", "onWithdraw", "onClose"],
  "scripts": ["/interface/scripted/at_ext_vault/at_ext_vault_interface.lua"],
  "scriptDelta": 5,

  "loadingDuration": 2,
  "loadingFrames": 4,
  "loadingBaseImage": "/interface/scripted/at_ext_vault/loading.png"

}
