{
  "bites": 4,
  "frames": [
    "full",
    "bite1",
    "bite2",
    "bite3",
    "empty"
  ],
  "satietyEffect": "at_ext_oceanrisotto_bite",
  "satietyEffectDuration": 0.1,
  "effects": [
    {
      "effect": "maxhealthscalingboostfood",
      "duration": 360
    },
    {
      "effect": "thorns",
      "duration": 360
    }
  ],
  "steamEmitter": "steam"
}
