{
  "action" : "actions",
  "list" : [
    { "action" : "projectile", "inheritDamageFactor" : 1, "type" : "fireexplosionknockback" },
    { "action" : "projectile", "inheritDamageFactor" : 1, "type" : "regularexplosion2" },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [{
        "action" : "particle",
        "specification" : {
          "type" : "animated",
          "animation" : "/animations/smoke/smoke.animation",
          "approach" : [0.5, 0.5],
          "timeToLive" : 0.6,
          "variance" : { "position" : [1.5, 1.5], "initialVelocity" : [1, 1], "timeToLive" : 0.15, "rotation" : 180 }
        }
      }]
    },
    {
      "action" : "loop",
      "count" : 12,
      "body" : [{
        "action" : "particle",
        "specification" : {
          "type" : "textured",
          "image" : "/animations/fog/fog.png:8?setcolor=000000ff",
          "approach" : [1.5, 1.5],
          "timeToLive" : 1.5,
          "destructionAction" : "shrink",
          "destructionTime" : 0.4,
          "initialVelocity" : [0, 3],
          "finalVelocity" : [0, 5],
          "size" : 1.25,
          "layer" : "middle",
          "variance" : { "position" : [2.5, 2], "initialVelocity" : [4, 3], "size" : 0.55, "timeToLive" : 0.45, "rotation" : 360 }
        }
      }]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [{
        "action" : "option",
        "options" : [{
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/mediumflame/mediumflame.animation",
            "approach" : [0.5, 0.5],
            "timeToLive" : 0.6,
            "variance" : { "position" : [1.5, 1.5], "initialVelocity" : [1, 1], "timeToLive" : 0.15, "rotation" : 180 }
          }
        }]
      }]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [{
        "action" : "option",
        "options" : [{
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/smallflame/smallflame.animation",
            "approach" : [0.5, 0.5],
            "timeToLive" : 0.6,
            "variance" : { "position" : [1.5, 1.5], "initialVelocity" : [1, 1], "timeToLive" : 0.15, "rotation" : 180 }
          }
        }]
      }]
    },
    { "action" : "sound", "options" : ["/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg"] },
    { "action" : "light", "color" : "orange" }
  ]
}
