{
  "action" : "actions",
  "list" : [
    { "action" : "light", "color" : "orange" },
    { "action" : "projectile", "type" : "vsmallregularexplosion", "inheritDamageFactor" : 0.35 },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [{
        "action" : "particle",
        "specification" : {
          "type" : "animated",
          "animation" : "/animations/dust2/dust2.animation",
          "approach" : [20, 20],
          "timeToLive" : 2.0,
          "fade" : 0.5,
          "finalVelocity" : [1, 0],
          "initialVelocity" : [5, 1],
          "ignoreWind" : false,
          "collidesForeground" : true,
          "collidesLiquid" : true,
          "size" : 1.15,
          "variance" : {
            "initialVelocity" : [-7, 2],
            "finalVelocity" : [-2, 2],
            "size" : 0.9,
            "timeToLive" : 2.5,
            "rotation" : 360
          }
        }
      }]
    },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [{
        "action" : "particle",
        "specification" : {
          "type" : "animated",
          "animation" : "/animations/dust3/dust3.animation",
          "approach" : [20, 20],
          "timeToLive" : 2.0,
          "fade" : 0.5,
          "finalVelocity" : [-1, 0],
          "initialVelocity" : [-5, 1],
          "ignoreWind" : false,
          "collidesForeground" : true,
          "collidesLiquid" : true,
          "size" : 1.0,
          "variance" : {
            "initialVelocity" : [7, 2],
            "finalVelocity" : [2, 2],
            "size" : 1.0,
            "timeToLive" : 2.5,
            "rotation" : 360
          }
        }
      }]
    },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1.35,
            "color" : [255, 210, 120, 255],
            "destructionAction" : "shrink",
            "destructionTime" : 0.2,
            "initialVelocity" : [10, 0],
            "finalVelocity" : [0, 0],
            "approach" : [4, 4],
            "timeToLive" : 0.4,
            "fullbright" : true,
            "variance" : {
              "position" : [0.8, 0.8],
              "initialVelocity" : [12, 9],
              "rotation" : 180
            }
          }
        },
        { "action" : "spark" }
      ]
    },
    { "action" : "sound", "options" : ["/sfx/gun/plasmabullet_hit_organic.ogg"] }
  ]
}
