{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "at_ext_rl2_1_expl"
    },

    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/plasma3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 4,
      "explosiveDamageAmount" : 2,
      "delaySteps" : 2
    }

  ]
}
