{
  "recipes" : {
	
                                //arcana
								
								
								
								
								
	"arcana_farmable_amberplum" : 
    {
      "input" : [
        { "name" : "arcana_farmable_amberplumSeed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "arcana_farmable_amberplum", "count" : 6 }
    },
		"arcana_farmable_amberplumSeed" : 
    {
      "input" : [
        { "name" : "arcana_farmable_amberplum", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "arcana_farmable_amberplumSeed", "count" : 3 }
    },
	
	
	
	
	
	
	
	
		"arcana_farmable_ceruleanRoll" : 
    {
      "input" : [
        { "name" : "arcana_farmable_ceruleanRollSeed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "arcana_farmable_ceruleanRoll", "count" : 6 }
    },
			"arcana_farmable_ceruleanRollSeed" : 
    {
      "input" : [
        { "name" : "arcana_farmable_ceruleanRoll", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "arcana_farmable_ceruleanRollSeed", "count" : 3 }
    },







		"arcana_farmable_eisilshroom" : 
    {
      "input" : [
        { "name" : "arcana_farmable_eisilshroomSeed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "arcana_farmable_eisilshroom", "count" : 6 }
    },
			"arcana_farmable_eisilshroomSeed" : 
    {
      "input" : [
        { "name" : "arcana_farmable_eisilshroom", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "arcana_farmable_eisilshroomSeed", "count" : 3 }
    },








		"arcana_farmable_wintercorn" : 
    {
      "input" : [
        { "name" : "arcana_farmable_wintercornSeed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "arcana_farmable_wintercorn", "count" : 6 }
    },
			"arcana_farmable_wintercornSeed" : 
    {
      "input" : [
        { "name" : "arcana_farmable_wintercorn", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "arcana_farmable_wintercornSeed", "count" : 3 }
    },














                           //vanilla	
	
	
	
	
	
	
	"banana" : 
    {
      "input" : [
        { "name" : "bananaseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "banana", "count" : 6 }
    }, 
		"bananaseed" : 
    {
      "input" : [
        { "name" : "banana", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "bananaseed", "count" : 3 }
    },
	
	
	
		"beakseed" : 
    {
      "input" : [
        { "name" : "beakseedseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "beakseed", "count" : 6 }
    }, 
			"beakseedseed" : 
    {
      "input" : [
        { "name" : "beakseed", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "beakseedseed", "count" : 3 }
    },
	
	
	
			"boltbulb" : 
    {
      "input" : [
        { "name" : "boltbulbseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "boltbulb", "count" : 6 }
    },
			"boltbulbseed" : 
    {
      "input" : [
        { "name" : "boltbulb", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "boltbulbseed", "count" : 3 }
    },	
	
	
	
			"boneboo" : 
    {
      "input" : [
        { "name" : "bonebooseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "boneboo", "count" : 6 }
    }, 
				"bonebooseed" : 
    {
      "input" : [
        { "name" : "boneboo", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "bonebooseed", "count" : 3 }
    }, 
	
	
	
			"carrot" : 
    {
      "input" : [
        { "name" : "carrotseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "carrot", "count" : 6 }
    },
			"carrotseed" : 
    {
      "input" : [
        { "name" : "carrot", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "carrotseed", "count" : 3 }
    }, 

	
	
			"chili" : 
    {
      "input" : [
        { "name" : "chiliseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "chili", "count" : 6 }
    },
			"chiliseed" : 
    {
      "input" : [
        { "name" : "chili", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "chiliseed", "count" : 3 }
    },


	
	
			"cocoa" : 
    {
      "input" : [
        { "name" : "cocoaseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "cocoa", "count" : 6 }
    },
			"cocoaseed" : 
    {
      "input" : [
        { "name" : "cocoa", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "cocoaseed", "count" : 3 }
    },




	
	
			"coffeebeans" : 
    {
      "input" : [
        { "name" : "coffeeseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "coffeebeans", "count" : 6 }
    },
			"coffeeseed" : 
    {
      "input" : [
        { "name" : "coffeebeans", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "coffeeseed", "count" : 3 }
    },


	
	
			"coralcreep" : 
    {
      "input" : [
        { "name" : "coralcreepseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "coralcreep", "count" : 6 }
    },
			"coralcreepseed" : 
    {
      "input" : [
        { "name" : "coralcreep", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "coralcreepseed", "count" : 3 }
    },




	
	
			"corn" : 
    {
      "input" : [
        { "name" : "cornseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "corn", "count" : 6 }
    },
			"cornseed" : 
    {
      "input" : [
        { "name" : "corn", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "cornseed", "count" : 3 }
    },



	
	
				"cotton" : 
    {
      "input" : [
        { "name" : "cottonseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "cotton", "count" : 6 }
    },
				"cottonseed" : 
    {
      "input" : [
        { "name" : "cotton", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "cottonseed", "count" : 3 }
    },


	
	
				"crystalplant" : 
    {
      "input" : [
        { "name" : "crystalplantseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "crystalplant", "count" : 6 }
    },
				"crystalplantseed" : 
    {
      "input" : [
        { "name" : "crystalplant", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "crystalplantseed", "count" : 3 }
    },



	
	
				"currentcorn" : 
    {
      "input" : [
        { "name" : "currentcornseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "currentcorn", "count" : 6 }
    },
				"currentcornseed" : 
    {
      "input" : [
        { "name" : "currentcorn", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "currentcornseed", "count" : 3 }
    },


	
	
				"diodia" : 
    {
      "input" : [
        { "name" : "diodiaseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "diodia", "count" : 6 }
    },
				"diodiaseed" : 
    {
      "input" : [
        { "name" : "diodia", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "diodiaseed", "count" : 3 }
    },



	
	
	
				"dirturchin" : 
    {
      "input" : [
        { "name" : "dirturchinseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "dirturchin", "count" : 6 }
    },
				"dirturchinseed" : 
    {
      "input" : [
        { "name" : "dirturchin", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "dirturchinseed", "count" : 3 }
    },


	
	
				"eggshoot" : 
    {
      "input" : [
        { "name" : "eggshootseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "eggshoot", "count" : 6 }
    },
				"eggshootseed" : 
    {
      "input" : [
        { "name" : "eggshoot", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "eggshootseed", "count" : 3 }
    }, 


	
	
				"feathercrown" : 
    {
      "input" : [
        { "name" : "feathercrownseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "feathercrown", "count" : 6 }
    },
				"feathercrownseed" : 
    {
      "input" : [
        { "name" : "feathercrown", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "feathercrownseed", "count" : 3 }
    },



	
	
				"grapes" : 
    {
      "input" : [
        { "name" : "grapesseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "grapes", "count" : 6 }
    },
				"grapesseed" : 
    {
      "input" : [
        { "name" : "grapes", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "grapesseed", "count" : 3 }
    },



	
	
				"kiwi" : 
    {
      "input" : [
        { "name" : "kiwiseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "kiwi", "count" : 6 }
    },
				"kiwiseed" : 
    {
      "input" : [
        { "name" : "kiwi", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "kiwiseed", "count" : 3 }
    }, 



	
	
				"neonmelon" : 
    {
      "input" : [
        { "name" : "neonmelonseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "neonmelon", "count" : 6 }
    },
				"neonmelonseed" : 
    {
      "input" : [
        { "name" : "neonmelon", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "neonmelonseed", "count" : 3 }
    },


	
	
					"oculemon" : 
    {
      "input" : [
        { "name" : "oculemonseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "oculemon", "count" : 6 }
    },
					"oculemonseed" : 
    {
      "input" : [
        { "name" : "oculemon", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "oculemonseed", "count" : 3 }
    },



	
	
					"pearlpea" : 
    {
      "input" : [
        { "name" : "pearlpeaseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "pearlpea", "count" : 6 }
    },
					"pearlpeaseed" : 
    {
      "input" : [
        { "name" : "pearlpea", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "pearlpeaseed", "count" : 3 }
    },


	
	
					"pineapple" : 
    {
      "input" : [
        { "name" : "pineappleseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "pineapple", "count" : 6 }
    },
					"pineappleseed" : 
    {
      "input" : [
        { "name" : "pineapple", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "pineappleseed", "count" : 3 }
    },



	
	
					"potato" : 
    {
      "input" : [
        { "name" : "potatoseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "potato", "count" : 6 }
    },
					"potatoseed" : 
    {
      "input" : [
        { "name" : "potato", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "potatoseed", "count" : 3 }
    },


	
	
					"pussplum" : 
    {
      "input" : [
        { "name" : "pussplumseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "pussplum", "count" : 6 }
    },
					"pussplumseed" : 
    {
      "input" : [
        { "name" : "pussplum", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "pussplumseed", "count" : 3 }
    },



	
	
					"reefpod" : 
    {
      "input" : [
        { "name" : "reefpodseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "reefpod", "count" : 6 }
    },
					"reefpodseed" : 
    {
      "input" : [
        { "name" : "reefpod", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "reefpodseed", "count" : 3 }
    },


	
	
						"rice" : 
    {
      "input" : [
        { "name" : "riceseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "rice", "count" : 6 }
    },
						"riceseed" : 
    {
      "input" : [
        { "name" : "rice", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "riceseed", "count" : 3 }
    },


	
	
						"sugar" : 
    {
      "input" : [
        { "name" : "sugarcaneseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "sugar", "count" : 6 }
    },




	
	
						"tomato" : 
    {
      "input" : [
        { "name" : "tomatoseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "tomato", "count" : 6 }
    },
						"tomatoseed" : 
    {
      "input" : [
        { "name" : "tomato", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "tomatoseed", "count" : 3 }
    },



	
	
						"toxictop" : 
    {
      "input" : [
        { "name" : "toxictopseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "toxictop", "count" : 6 }
    },
						"toxictopseed" : 
    {
      "input" : [
        { "name" : "toxictop", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "toxictopseed", "count" : 3 }
    },


	
	
						"wartweed" : 
    {
      "input" : [
        { "name" : "wartweedseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "wartweed", "count" : 6 }
    },
						"wartweedseed" : 
    {
      "input" : [
        { "name" : "wartweed", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "wartweedseed", "count" : 3 }
    },



	
	
						"wheat" : 
    {
      "input" : [
        { "name" : "wheatseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "wheat", "count" : 6 }
    },
						"wheatseed" : 
    {
      "input" : [
        { "name" : "wheat", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "wheatseed", "count" : 3 }
    },	
	
	
	
	
	
	

	"avesmingo" : 
    {
      "input" : [
        { "name" : "avesmingoseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "avesmingo", "count" : 6 }
    },
		"avesmingoseed" : 
    {
      "input" : [
        { "name" : "avesmingo", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "avesmingoseed", "count" : 3 }
    },


		"sugarcaneseed" : 
    {
      "input" : [
        { "name" : "sugarcaneseed", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "sugarcaneseed", "count" : 3 }
    },

	
	
	
	
	"automato" : 
    {
      "input" : [
        { "name" : "automatoseed", "count" : 4 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "automato", "count" : 6 }
    },
	"automatoseed" : 
    {
      "input" : [
        { "name" : "automato", "count" : 1 },
		{ "name" : "liquidwater", "count" : 2 }
		
      ],
      "output" : 
           { "name" : "automatoseed", "count" : 3 }
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  },
  "craftingTime" : 60.0,
  "description" : "^cyan;''Hi-tech farming!''^white;An automatic hydroponic tray, can grow your farmables. ^orange;Requires 20kW of Power. Can be wired to other machines.^reset;",
  //"outputTime" : 1.0,
  "outputRate" : 6
}
