{
  "action" : "actions",
  "list" : [
    {
      "action" : "light",
      "color" : "orange"
    },



    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dust2/dust2.animation",
                "approach" : [20, 20],
                "timeToLive" : 2.0,
				        "fade": 0.5,
                "finalVelocity" : [1, 0],
                "initialVelocity" : [5, 1],
                "ignoreWind" : false,
                "collidesForeground" : true,
                "collidesLiquid" : true,
				        "size": 0.8,
                "variance" : {
                "initialVelocity" : [-5, 0],
                "finalVelocity" : [-1, 1],
				        "size": 0.75,
                "timeToLive" : 2.5,
                "rotation" : 360
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dust3/dust3.animation",
                "approach" : [20, 20],
                "timeToLive" : 2.0,
				        "fade": 0.5,
                "finalVelocity" : [-1, 0],
                "initialVelocity" : [-5, 1],
                "ignoreWind" : false,
                "collidesForeground" : true,
                "collidesLiquid" : true,
				        "size": 0.75,
                "variance" : {
                "initialVelocity" : [5, 0],
                "finalVelocity" : [1, 1],
				        "size": 0.8,
                "timeToLive" : 2.5,
                "rotation" : 360
                }
              }
            }
          ]
        }
      ]
    },

    {
      "action" : "particle",
	  "specification" : {
		"type" : "animated",
		"size" : 1.0,
		"fullbright" : true,
		"light" : [100, 94, 40],
		"animation" : "/animations/at_ext_bulletimpact/at_ext_bulletimpact.animation",
		"timeToLive" : 0.6,
		"layer" : "front"
	  }
    },

    {
      "action" : "sound",
      "options" : [  
	  "/sfx/gun/grenadeblast1.ogg",
	  "/sfx/gun/grenadeblast2.ogg",
	  "/sfx/gun/grenadeblast3.ogg"
	  ]
    }	

  ]
}
