{
  "action" : "actions",
  "list" : [
    {
      "action" : "light",
      "color" : "orange"
    },



    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dust2/dust2.animation",
                "approach" : [20, 20],
                "timeToLive" : 2.0,
				        "fade": 0.5,
                "finalVelocity" : [1, 0],
                "initialVelocity" : [5, 1],
                "ignoreWind" : false,
                "collidesForeground" : true,
                "collidesLiquid" : true,
				        "size": 0.8,
                "variance" : {
                "initialVelocity" : [-5, 0],
                "finalVelocity" : [-1, 1],
				        "size": 0.75,
                "timeToLive" : 2.5,
                "rotation" : 360
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dust3/dust3.animation",
                "approach" : [20, 20],
                "timeToLive" : 2.0,
				        "fade": 0.5,
                "finalVelocity" : [-1, 0],
                "initialVelocity" : [-5, 1],
                "ignoreWind" : false,
                "collidesForeground" : true,
                "collidesLiquid" : true,
				        "size": 0.75,
                "variance" : {
                "initialVelocity" : [5, 0],
                "finalVelocity" : [1, 1],
				        "size": 0.8,
                "timeToLive" : 2.5,
                "rotation" : 360
                }
              }
            }
          ]
        }
      ]
    },

    {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
				"type" : "animated",
				"animation" : "/animations/arcana_animation_energy_solar/arcana_animation_energy_solar.animation",
				"initialVelocity" : [0.0, 2.0],
				"finalVelocity" : [0.0, 0.0],
				"approach" : [6, 6],
				"timeToLive" : 0.6,
				"layer" : "middle",
				"collidesForeground" : true,
				"fullbright" : true,
				"light" : [80, 30, 30, 255],
				"size" : 0.5,
				"variance" : {
				  "position" : [0, 0],
				  "initialVelocity" : [3, 3],
				  "finalVelocity" : [3, 3],
				  "rotation" : 180,
				  "angularVelocity" : 180
				}
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },

    {
      "action" : "sound",
      "options" : [  "/sfx/gun/plasmabullet_hit_organic.ogg"]
    }	

  ]
}
