{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "completedFormat" : "Brewed: %d/%d",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/at_ext/fermenter/header.png",
      "fileBody" : "/interface/at_ext/fermenter/body_empty.png",
      "fileFooter" : "/interface/at_ext/fermenter/footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "zlevel" : 10,
      "position" : [76, 56],
      "dimensions" : [5, 1],
      "spacing" : [21, 21],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "progress" : {
      "type" : "progress",
      "zlevel" : 2,
      "background" : "/interface/at_ext/fermenter/progressempty.png",
      "position" : [206, 48],
      "size" : [41, 6],
      "progressSet" : {
        "inner" : "/interface/at_ext/fermenter/progress.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "completedText" : {
      "type" : "label",
      "position" : [245, 68],
      "hAnchor" : "right",
      "vAnchor" : "bottom",
      "fontSize" : 6,
      "value" : "Brewed: 0/100"
    },
    "bottleButton" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_auto/stateoff.png",
      "hover" : "/interface/arcana/arcana_auto/stateon.png",
      "pressed" : "/interface/arcana/arcana_auto/stateon.png",
      "position" : [208, 55],
      "fontSize" : 6,
      "caption" : "Bottle",
      "callback" : "bottleCompletedOutputs"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [267, 305]
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 287],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 229,
      "fontSize" : 7,
      "value" : "Fermentation recipes"
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [10, 80, 275, 251],
      "buttons" : {
        "horizontal" : {
          "forward" : { "base" : "", "hover" : "", "pressed" : "" },
          "backward" : { "base" : "", "hover" : "", "pressed" : "" }
        },
        "vertical" : {
          "forward" : {
            "base" : "/interface/at_ext/fermenter/varrow-forward.png",
            "hover" : "/interface/at_ext/fermenter/varrow-forwardhover.png",
            "pressed" : ""
          },
          "backward" : {
            "base" : "/interface/at_ext/fermenter/varrow-backward.png",
            "hover" : "/interface/at_ext/fermenter/varrow-backwardhover.png",
            "pressed" : ""
          }
        }
      },
      "thumbs" : {
        "horizontal" : {
          "base" : { "begin" : "", "end" : "", "inner" : "" },
          "hover" : { "begin" : "", "end" : "", "inner" : "" },
          "pressed" : { "begin" : "", "end" : "", "inner" : "" }
        },
        "vertical" : {
          "base" : {
            "begin" : "/interface/at_ext/fermenter/vthumb-begin.png",
            "end" : "/interface/at_ext/fermenter/vthumb-end.png",
            "inner" : "/interface/at_ext/fermenter/vthumb-inner.png"
          },
          "hover" : {
            "begin" : "/interface/at_ext/fermenter/vthumb-beginhover.png",
            "end" : "/interface/at_ext/fermenter/vthumb-endhover.png",
            "inner" : "/interface/at_ext/fermenter/vthumb-innerhover.png"
          },
          "pressed" : {
            "begin" : "/interface/at_ext/fermenter/vthumb-beginhover.png",
            "end" : "/interface/at_ext/fermenter/vthumb-endhover.png",
            "inner" : "/interface/at_ext/fermenter/vthumb-innerhover.png"
          }
        }
      },
      "children" : {
        "inputList" : {
          "type" : "list",
          "position" : [0, 0],
          "callback" : "null",
          "columns" : 1,
          "fillDown" : true,
          "scissoring" : false,
          "schema" : {
            "spacing" : [1, 1],
            "memberSize" : [263, 40],
            "listTemplate" : {
              "img" : {
                "type" : "image",
                "zLevel" : 4,
                "file" : "/interface/at_ext/fermenter/recipe_body.png",
                "position" : [0, 0]
              },
              "text" : {
                "type" : "label",
                "zLevel" : 9,
                "position" : [186, 12],
                "hAnchor" : "left",
                "vAnchor" : "bottom",
                "wrapWidth" : 70,
                "fontSize" : 6,
                "value" : "Recipe output"
              },
              "outitem" : {
                "type" : "itemslot",
                "zLevel" : 9,
                "callback" : "null",
                "position" : [162, 11]
              },
              "input" : {
                "type" : "list",
                "zLevel" : 5,
                "position" : [4, 31],
                "callback" : "null",
                "columns" : 4,
                "fillDown" : true,
                "scissoring" : false,
                "schema" : {
                  "spacing" : [1, 1],
                  "memberSize" : [20, 20],
                  "listTemplate" : {
                    "initem" : {
                      "type" : "itemslot",
                      "zLevel" : 10,
                      "callback" : "null",
                      "position" : [1, 1]
                    },
                    "emptyslot" : {
                      "type" : "image",
                      "zLevel" : 9,
                      "file" : "/interface/at_ext/fermenter/recipe_emptybox.png",
                      "position" : [0, 0]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "scriptWidgetCallbacks" : ["bottleCompletedOutputs"],
  "scripts" : ["/interface/at_ext/fermenter/at_ext_fermenter.lua"],
  "scriptDelta" : 2,
  "configPath" : "/objects/workshop/at_ext_fermenter/config.config"
}
