{
  "bites": 4,
  "frames": [
    "full",
    "bite1",
    "bite2",
    "bite3",
    "empty"
  ],
  "satietyEffect": "at_ext_specialrice_bite",
  "satietyEffectDuration": 0.1,
  "effects": [
    {
      "effect": "runboostfood",
      "duration": 480
    },
    {
      "effect": "maxenergyscalingboostfood",
      "duration": 480
    }
  ],
  "steamEmitter": "steam"
}
